<div class="df jc-b m-b-15">
  <h1 *ngIf="!id" class="m-t-0 m-b-0 fs-24 fw-600">
    Add Business User
  </h1>
  <h1 *ngIf="id" class="m-t-0 m-b-0 fs-24 fw-600">
    Update Business User
  </h1>
</div>
<nb-card>
  <nb-card-body>
    <nb-alert *ngIf="showAletr" (close)="closeAlert()" class="m-b-24" outline="success" closable>
      <div class="df">
        <div>
          successfully added!
          <a class="m-l-11 c-p">Add more</a>
        </div>
        <!-- <button aria-label="Close" class="close" type="button"><span>×</span></button> -->
      </div>
    </nb-alert>
    <div *ngIf="showLoader" class="loader-table">
      <img width="70px" src="assets/img/Loader2x.gif" alt="">
    </div>
    <div *ngIf="!showLoader" class="m-b-100">
      <form [formGroup]="myForm">
        <div class="input-row">
          <div class="lable">
            First Name
          </div>
          <div class="value">
            <input [ngClass]="{'error': myForm.controls['firstName'].invalid && !customValidation}" formControlName="firstName"
              type="text" [(ngModel)]="data.firstname" nbInput fullWidth fieldSize="medium" placeholder="">
            <div *ngIf="myForm.controls['firstName'].invalid && !customValidation" class="error-lable">
              Field error (must have at least 1 character)
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="lable">
            Last Name
          </div>
          <div class="value">
            <input [ngClass]="{'error': myForm.controls['lastName'].invalid && !customValidation}" formControlName="lastName"
              type="text" [(ngModel)]="data.lastname" nbInput fullWidth fieldSize="medium" placeholder="">
            <div *ngIf="myForm.controls['lastName'].invalid && !customValidation" class="error-lable">
              Field error (must have at least 1 character)
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="lable df ai-c">
            Permission <span class="info-circle m-l-3">?</span>
          </div>
          <div class="value">
            <!-- <input [ngClass]="{'error': myForm.controls['permission'].invalid && !customValidation}" formControlName="permission"
              type="text" [(ngModel)]="data.permission" nbInput fullWidth fieldSize="medium" placeholder=""> -->
            <nb-radio-group class="circle-radio df" [ngClass]="{'error': myForm.controls['permission'].invalid && !customValidation}"
              formControlName="permission" [(ngModel)]="data.permission">
              <nb-radio *ngFor="let option of options" [value]="option.value">
                {{ option.label }}
              </nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div class="input-row">
          <div class="lable">
            Phone Number
          </div>
          <div class="value">
            <input [ngClass]="{'error': myForm.controls['phoneNumber'].invalid && !customValidation}" formControlName="phoneNumber"
              type="text" [(ngModel)]="data.phone" nbInput fullWidth fieldSize="medium" placeholder="">
            <div *ngIf="myForm.controls['phoneNumber'].invalid && !customValidation" class="error-lable">
              Field error (must have at least 5 digits of phone number)
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="lable">
            Email Address
          </div>
          <div class="value">
            <input [ngClass]="{'error': myForm.controls['email'].invalid && !customValidation}" formControlName="email"
              type="text" [(ngModel)]="data.email" nbInput fullWidth fieldSize="medium" placeholder="">
            <div *ngIf="myForm.controls['email'].invalid && !customValidation" class="error-lable">
              Field error (for example: "user@mail.com")
            </div>
          </div>
        </div>
      </form>
      <div class="input-row">
        <div class="lable">

        </div>
        <div class="value">
          <button (click)="clear()" class="cust-button m-r-15" nbButton status="gray">
            Clear
          </button>
          <button *ngIf="!id" [disabled]="inProcces" (click)="addUser()" class="cust-button" nbButton status="success">
            <i *ngIf="inProcces" class="fas fa-spinner fa-pulse"></i>
            Save
          </button>
          <button *ngIf="id" [disabled]="inProcces" (click)="update()" class="cust-button" nbButton status="success">
            <i *ngIf="inProcces" class="fas fa-spinner fa-pulse"></i>
            Update
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>