@import '../sign-up/sign-up.component.scss';
.main-wrap-outer{
    background-color: #f9fafc;
}
.nb-card-body{
    box-shadow: 0 2px 24px rgba(102, 102, 102, 0.5);
    border-radius: 7px;
    background-color: #ffffff;
}
