.input-icon {
    right: 8px;
    top: calc(50% - 9.5px);
    display: flex;
}
th {
    color: #afafb9;
    font-family: Poppins;
    // font-size: 16px;
    font-size: 14px;
    font-weight: 400;
    border-right: none !important;
    border-left: none !important;
    &:first-child {
      padding: 0 !important;
      width: 40px;
    }
    // &:nth-child(7) {
    //     width: 100px;
    //     padding-left: 0;
    // }
    // &:nth-child(6) {
    //     width: 100px;
    //     padding-left: 0;
    // }
    // &:nth-child(1) {
    //     width: 110px;
    //     padding-right: 0;
    // }
    &:nth-child(2) {
        padding-left: 0;
    }
}

td {
    color: #323232;
    font-family: Poppins;
    // font-size: 15px;
    font-size: 12px;
    font-weight: 400;
    border-right: none !important;
    border-left: none !important;
    overflow: visible;
    &:first-child {
      padding: 0 !important;
      width: 40px;
    }
    // &:last-child {
    //     width: 100px;
    //     padding-left: 0;
    // }
    // &:nth-child(7) {
    //     width: 100px;
    //     padding-left: 0;
    // }
    // &:nth-child(6) {
    //     width: 100px;
    //     padding-left: 0;
    // }
    // &:nth-child(1) {
    //     width: 110px;
    //     padding-right: 0;
    // }
    // &:nth-child(2) {
    //     width: 110px;
    //     padding-right: 0;
    // }
    &:nth-child(2) {
      padding-left: 0;
    }
}

nb-card {
    min-height: calc(100% - 100px);
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    // font-size: 16px;
    font-size: 12px;
    font-weight: 400;
    &.used {
        width: 79px;
        height: 31px;
        border: 2px solid #ffffff;
        background-color: #11ca6d;
        border-radius: 100px;
    }
    &.unused {
        width: 79px;
        height: 31px;
        border: 2px solid #f4f3fa;
        border-radius: 100px;
        color: #323232;
        // font-size: 15px;
        font-size: 12px;
        font-weight: 400;
    }
    &.expired {
        color: #f1737e;
        // font-size: 15px;
        font-size: 12px;
        font-weight: 500;
    }
}

.filtr-btn {
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(195, 195, 195, 0.15);
    border-radius: 5px;
    border: 1px solid #eff2f4;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

table {
    width: auto;
    border-left: 1px solid #ebeef2;
    border-right: 1px solid #ebeef2;
}

.box-container {
    min-height: calc(100vh - 360px);
    .create-btn-wrap {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: calc(100vh - 360px);
        padding: 40px;
    }
}
.download{
  width: 160px;
  background-color: #11ca6d;
  padding: 8px;
}
.circle-active{
  width:  20px;
  height: 20px;
  margin: auto;
  border-radius: 50px;
  background-color: #11ca6d;
}
.circle-inactive{
  width:  20px;
  height: 20px;
  margin: auto;
  border-radius: 50px;
  background-color: #ebeef2;
}
.check-row-bg {
  background-color: #f4fdf8;
}
