<div class="df jc-b m-b-15">
  <div class="df ai-c">
    <h1 class="m-t-0 m-b-0 fs-24 fw-600 m-r-22">
      Audience
    </h1>
    <div class="pos-r m-r-9">
      <input style="width: 235px;" placeholder="Search" class="small" type="text" nbInput fullWidth fieldSize="small">
      <div class="input-icon">
        <img src="assets/svg-icon/search-outline.svg" alt="">
      </div>
    </div>
    <div class="filtr-btn">
      <img src="assets/img/filtre.png" alt="">
    </div>
  </div>
</div>
<nb-card>
  <nb-card-body class="p-0">
    <table class="m-b-40" [nbTreeGrid]="data">
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
        <td (click)="selectedSell = row.data[column].name" [ngClass]="{'active-sell': selectedSell === row.data[column].name}"
          nbTreeGridCell *nbTreeGridCellDef="let row">
          <div class="df ai-c">
            <span *ngIf="column === 'Type'">
              <img class="m-r-8" [src]="row.data[column].icon" alt="">
            </span>
            <span *ngIf="column !== 'Status'">{{row.data[column].name}}</span>
          </div>
          <div *ngIf="column === 'Status'">
            <span class="status" [ngClass]="{'used': row.data[column].name === 'Used', 'unused': row.data[column].name === 'Unused', 'expired': row.data[column].name === 'Expired'}">
              <img class="m-r-3" width="14px" *ngIf="row.data[column].name === 'Used'" src="assets/img/success-white.png" alt="">
              {{row.data[column].name}}
            </span>
          </div>
        </td>
      </ng-container>
    </table>
  </nb-card-body>
</nb-card>
<div *ngIf="showActions" (click)="showActions = null" class="close-bg"></div>