.input-icon {
    right: 8px;
    top: calc(50% - 9.5px);
    display: flex;
}
th {
    color: #afafb9;
    font-family: Poppins;
    // font-size: 16px;
    padding: 10px !important;
    font-size: 14px;
    font-weight: 400;
    border-right: none !important;
    border-left: none !important;
    &:first-child {
      width: 40px;
    }
    &:nth-child(2) {
        padding-left: 0;
    }
    &:nth-child(3){
      width: 200px;
    }
    &:nth-child(4){
      width: 200px;
    }
}

td {
    color: #323232;
    font-family: Poppins;
    // font-size: 15px;
    padding: 10px !important;
    font-size: 12px;
    font-weight: 400;
    border-right: none !important;
    border-left: none !important;
    overflow: visible;
    &:first-child {
      width: 40px;
    }
    &:nth-child(2) {
      padding-left: 0;
    }
    &:nth-child(3){
      width: 200px;
    }
    &:nth-child(4){
      width: 200px;
    }
}

nb-card {
    min-height: calc(100% - 100px);
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    // font-size: 16px;
    font-size: 12px;
    font-weight: 400;
    &.used {
        width: 79px;
        height: 31px;
        border: 2px solid #ffffff;
        background-color: #11ca6d;
        border-radius: 100px;
    }
    &.unused {
        width: 79px;
        height: 31px;
        border: 2px solid #f4f3fa;
        border-radius: 100px;
        color: #323232;
        // font-size: 15px;
        font-size: 12px;
        font-weight: 400;
    }
}
.expired {
  color: #f1737e;
  // font-size: 15px;
  font-size: 12px;
  font-weight: 500;
}

.filtr-btn {
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(195, 195, 195, 0.15);
    border-radius: 5px;
    border: 1px solid #eff2f4;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

table {
    width: auto;
    border-left: 1px solid #ebeef2;
    border-right: 1px solid #ebeef2;
}

.box-container {
    min-height: calc(100vh - 360px);
    .create-btn-wrap {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: calc(100vh - 360px);
        padding: 40px;
    }
}
.download{
  width: 160px;
  background-color: #11ca6d;
  padding: 8px;
}
.circle-active{
  width:  20px;
  height: 20px;
  margin: auto;
  border-radius: 50px;
  background-color: #11ca6d;
}
.circle-inactive{
  width:  20px;
  height: 20px;
  margin: auto;
  border-radius: 50px;
  background-color: #ebeef2;
}
.check-row-bg {
  background-color: #f4fdf8;
}
.disable {
  pointer-events: none;
}

.campaignSwitch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
}

.campaignSwitch input {
  display:none;
}

.campaignSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dee3e5;
  -webkit-transition: .4s;
  transition: .4s;
}

.campaignSlider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .campaignSlider {
  background-color: #4cd964;
}

input:focus + .campaignSlider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .campaignSlider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

.on {
  display:none;
}

.off {
  margin-left:22px;
}

.on, .off {
  color: #323232;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 35%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .campaignSlider .on {
  display: block;
}

input:checked + .campaignSlider .off {
  display: none;
}

.campaignSlider.campaignRound {
  border-radius: 34px;
}

.campaignSlider.campaignRound:before {
  border-radius: 50%;
}

.user-drb {
  box-shadow: 0 0 16px rgba(87, 86, 90, 0.08) !important;
  border-radius: 5px !important;
  background: white;
  position: absolute;
  width: 500px;
  top: 114px;;
  left: 292px;
  z-index: 11;
  padding: 20px 20px;
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -9px;
    left: 256px;
  }
}
