<div (click)="close()" class="bg"></div>
<div class="dialog-outer">
  <div class="dialog">
    <div class="close" (click)="close()">
      <img src="assets/img/close-dialog.png" alt="">
    </div>
    <div class="fs-24 fw-600 m-b-5 text-center">
      Resize your image
    </div>
    <div *ngIf="uploadType === 'brand'">
      <image-cropper style="max-height: 400px;" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
        [aspectRatio]="750 / 294" [resizeToWidth]="750" format="png" (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"
        [cropperMinWidth]="375"></image-cropper>
    </div>
    <div *ngIf="uploadType === 'logo'">
      <image-cropper style="max-height: 400px;" [roundCropper]="true" [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true" [aspectRatio]="100 / 100" [resizeToWidth]="110" format="png" (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"
        [cropperMinWidth]="55"></image-cropper>
    </div>
    <div class="p-t-10 p-b-10 df jc-c">
      <button (click)="upload()" nbButton status="primary">Ok</button>
    </div>
  </div>
</div>