.input-wrapper {
  padding-top: 40px;
  padding-left: 10px;
  max-width: 490px;
}
.row-input {
  display: flex;
  margin-bottom: 35px;
  .lable {
    width: 148px;
    min-width: 148px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
    min-width: 172px;
    margin-right: 16px;
  }
  .value {
    width: 100%;
    .pos-r {
      width: fit-content;
    }
    .brand {
      width: 63px;
      height: 63px;
      min-width: 63px;
      border-radius: 100px;
      overflow: hidden;
      position: relative;
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }
    .close {
      position: absolute;
      right: -5px;
      top: -5px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: rgb(202, 203, 206);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(45deg);
      cursor: pointer;
      font-size: 20px;
    }
  }
}

table {
  border: 1px solid #dee3e5;
  background-color: #ffffff;
}
th {
  color: #afafb9;
  font-family: Poppins;
  // font-size: 16px;
  font-size: 14px;
  font-weight: 400;
  border-right: none !important;
  border-left: none !important;
  &:last-child {
    width: 100px !important;
  }
}

td {
  color: #323232;
  font-family: Poppins;
  // font-size: 15px;
  font-size: 12px;
  font-weight: 400;
  border-right: none !important;
  border-left: none !important;
  overflow: visible;
  &:last-child {
    width: 100px !important;
  }
}
.icon-status {
    width: 91px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    border-radius: 100px;
  &.active {
    background-color: #11ca6d;
  }
  &.inactive {
    background-color: #f1737e;
  }
}
.custome-input-field {
  max-width: 292px;
  height: 44px;
  overflow: hidden;
}
