<nb-layout>
  <nb-layout-column class="main-wrap">

    <div>
      <div class="m-b-50">
        <img src="assets/svg-icon/logo-dark.svg" alt="">
      </div>
      <div>
        <div class="text-center fw-600 fs-22 color-dark">
          Connect Facebook Page
        </div>
        <div class="text-center color-secondary fs-11 fw-600 m-b-25">
          Sign In with Facebook to create your first Campaign
        </div>
      </div>
      <nb-card>
        <nb-card-body>
          <div class="text-center" style="padding: 70px;">
            <button (click)="loginFB()" class="m-b-40" nbButton status="facebook">Sign In With Facebook</button>
            <div>
              <nb-checkbox [(ngModel)]="terms" status="success">
                <span [ngStyle]="{'color': termsError && !terms ? 'red' : 'unset'}">
                  I agree to Walletly
                </span>
              </nb-checkbox>
              <span style="margin-left: -18px; position: relative; top: -2px;">
                <a class="c-p m-r-5"> Terms of Service</a>
              </span>
              <div>
                <span [ngStyle]="{'color': termsError && !terms ? 'red' : 'unset'}">
                  and
                </span>
                <span>
                  <a class="c-p m-l-5"> Privacy</a>
                </span>
              </div>
            </div>
            <!-- <div *ngIf="businessUser" style="color: red; margin-top: 30px;">
              {{ businessEmail }} is already registered as a Business User. Please login with WalletScan App.
            </div> -->
          </div>
          <div *ngIf="showLoader" class="loader">
            <img width="200px" src="assets/img/Loader2x.gif" alt="">
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="text-center fs-11 color-secondary">
      ®2019 Walletly Business, All rights reserved. Terms and Privacy
    </div>
  </nb-layout-column>
</nb-layout>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div *ngIf="!deleteSuccess">
      <p style="pointer-events: none;">{{ businessEmail }} is already registered as a Business User. If you continue with facebook as a marketeer all your existing data will be lost.
        Are you sure you want to Continue with facebook ?</p>
      <div style="margin-left: 155px; margin-top: 20px;">
        <button [disabled]="disableButton" class="modalButton" (click)="deleteUser(deleteUserId)">Yes</button>
        <button [disabled]="disableButton" class="modalButton" (click)="closeDeleteBox($event)">Cancel</button>
      </div>
    </div>
    <div *ngIf="deleteSuccess">
      <p style="pointer-events: none;">You have successfully joined walletly as a marketeer. Now Login with facebook to continue.</p>
      <div style="margin-left: 155px; margin-top: 20px;">
        <button class="modalButton" (click)="continue()">close</button>
      </div>
    </div>
  </div>

</div>
