.main-wrap {
  max-width: 789px;
  margin: auto;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-flow: column;
  padding-bottom: 20px;
}
nb-card {
  box-shadow: 0 0 16px rgba(87, 86, 90, 0.08) !important;
  border-radius: 5px !important;
  border: 1px solid #f4f3fa !important;
}
a {
    color: rgb(93, 207, 239);
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 1111111;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 415px;
    padding: 10px;
    position: absolute;
    top: 35%;
    left: 30%
  }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modalButton{
    margin-left: 10px;
    width:100px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dee3e5;
}