.list {
  &--item {
    font-size: 17px;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #323232;
  }
  &--indecator {
    border-radius: 100px;
    width: 11px;
    min-width: 11px;
    margin-right: 8px;
    height: 11px;
    border: 1px solid #20beea;
    background-color: rgba(32, 190, 234, 0.34);
    &.basic {
      border: 1px solid #11ca6d;
      background-color: rgba(17, 202, 109, 0.34);
    }
  }
}
.bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.39);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1111111;
}
.dialog-outer {
  z-index: 1111111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  .dialog {
    width: 100%;
    max-width: 628px;
    box-shadow: 0 0 16px rgba(87, 86, 90, 0.08);
    border-radius: 9px;
    background-color: #ffffff;
    padding-top: 21px;
    position: relative;
    pointer-events: all;
    color: #323232;
    .close {
      position: absolute;
      right: 19px;
      top: 21px;
      cursor: pointer;
    }
    .foot {
      height: 94px;
      border-radius: 0 0 9px 9px;
      background-color: #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 43px;
      padding-left: 28px;
      .confirm-btn {
        width: 224px;
        height: 50px;
        border-radius: 30px !important;
        background-color: #20beea;
        display: flex;
        align-items: center;
        justify-content: center;
        &.basic {
          background-color: #11ca6d !important;
        }
      }
    }
  }
}
