<nb-layout>
  <nb-layout-column class="main-wrap" style="padding-top: 15px;">

    <div>
      <div class="c-p">
        <img (click)="redirectToDashboard()" src="assets/svg-icon/logo-dark.svg" alt="">
      </div>
      <div *ngIf="stepper.selectedIndex === 0">
        <div class="text-center fw-600 fs-22 color-dark">
          Connect Facebook Page
        </div>
        <div class="text-center color-secondary fs-11 fw-600 m-b-15">
          Add a page Link to create Campaign
        </div>
      </div>
      <div *ngIf="stepper.selectedIndex === 1">
        <div class="text-center fw-600 fs-22 color-dark">
          Almost there
        </div>
        <div class="text-center color-secondary fs-11 fw-600 m-b-15">
          Now review your page data
        </div>
      </div>
      <div *ngIf="stepper.selectedIndex === 2">
        <div class="text-center fw-600 fs-22 color-dark">
          Done
        </div>
        <div class="text-center color-secondary fs-11 fw-600 m-b-15">
          Just Answer Some Questions
        </div>
      </div>
      <nb-card>
        <nb-card-body>
          <nb-stepper #stepper class="horinzotal" orientation="horizontal">
            <nb-step [label]="labelOne" [stepControl]="myFormStep1">
              <ng-template #labelOne>Connect page</ng-template>
              <form [formGroup]="myFormStep1">
                <input type="hidden" formControlName="fakeData" nbInput>
              </form>
              <div class="page-list">
                <div class="body" *ngIf="!FbPages">
                  <div style="min-height: 200px; max-width: 70%; padding: calc(26% - 100px); margin: auto; text-align: center;">
                    Please give access rights to your facebook pages after login. If you don't have a page create one now !
                  </div>
                </div>
                <div class="body" *ngIf="FbPages">
                  <div class="body-scroll">
                    <div *ngIf="showLoader" class="loader-table">
                      <img width="70px" src="assets/img/Loader2x.gif" alt="">
                    </div>
                    <div *ngFor="let item of brands" class="page-item">
                      <div class="df ai-c">
                        <div *ngIf="item?.picture?.data?.url" class="brand-icon m-r-40">
                          <img src="{{item?.picture?.data?.url}}" alt="">
                        </div>
                        <div *ngIf="item?.brand_logo" class="brand-icon m-r-40">
                          <img src="{{item?.brand_logo}}" alt="">
                        </div>
                        <div *ngIf="item?.name" class="fs-18 fw-500">
                          {{item?.name}}
                        </div>
                        <div *ngIf="item?.brand_name" class="fs-18 fw-500">
                          {{item?.brand_name}}
                        </div>
                      </div>
                      <div>
                        <div *ngIf="checkUsersBrand(item.id)">
                          <span (click)="redirectToDashboard(item.id)" class="status c-p">
                            <i class="icon nb-checkmark"></i>
                            Connected
                          </span>
                        </div>
                        <div *ngIf="!checkUsersBrand(item.id)">
                          <button [disabled]="inProcces" (click)="goStep2(item.id)" class="status connect c-p">
                            <i *ngIf="item.id == selectedPageId && inProcces" class="fas fa-spinner fa-pulse"></i>
                            Connect
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="page-item">
                      <div class="df ai-c">
                        <div class="brand-icon m-r-40">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaVxaTAsqvMDEjz9JUpag6DjekHsFffeg3_fDEQNbm2VQpzYEy"
                            alt="">
                        </div>
                        <div class="fs-18 fw-500">
                          Little Merimad
                        </div>
                      </div>
                      <div>
                        <span class="status connect c-p">
                          Connect
                        </span>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="footer">
                  <div (click)="logout()" class="c-p fw-500 fs-16 color-secondary">
                    Sign out
                  </div>
                  <div>
                    <button (click)="goStep2Empty()" class="primary-outline">
                      Create Facebook Page
                    </button>
                  </div>
                </div>
              </div>

              <!-- <div *ngIf="loader" class="loader fw-600 ai-c color-dark fs-12 text-center">
                <img width="70px" src="assets/img/Loader2x.gif" alt="">
                <div>
                  Data Loading...
                </div>
              </div> -->

            </nb-step>
            <nb-step [label]="labelTwo" [stepControl]="myFormStep2">
              <ng-template #labelTwo>Review your Data</ng-template>

              <form [formGroup]="myFormStep2">
                <div class="input-wrapper step-2">
                  <div class="row-input">
                    <div class="lable">
                      Facebook Page ID
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input
                          [ngClass]="{'error': myFormStep2.controls['facebookPageID'].invalid && !customValidationStep2}"
                          formControlName="facebookPageID" class="color-link" type="text" nbInput fullWidth
                          fieldSize="medium" placeholder="" readonly>
                        <div *ngIf="myFormStep2.controls['facebookPageID'].invalid && !customValidationStep2"
                          class="error-lable">
                          Field error (for example: "www.facebook.com/user")
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Brand Name
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input
                          [ngClass]="{'error': myFormStep2.controls['brandName'].invalid && !customValidationStep2}"
                          formControlName="brandName" type="text" nbInput fullWidth fieldSize="medium" placeholder="">
                        <div *ngIf="myFormStep2.controls['brandName'].invalid && !customValidationStep2"
                          class="error-lable">
                          Field error (must have at least 1 character)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Profile logo
                    </div>
                    <div class="value">
                      <div *ngIf="photoLogo" class="pos-r">
                        <div class="brand">
                          <img [src]="photoLogo" alt="">
                        </div>
                        <div (click)="deleteImg('photoLogo')" class="close">
                          <i class="nb-plus"></i>
                        </div>
                      </div>
                      <div *ngIf="!photoLogo">
                        <label
                          [ngClass]="{'error': (myFormStep2.controls['profileLogo'].invalid && !customValidationStep2) || !brandSizeValidation}"
                          class="c-p file-lable" size="xsmall" nbButton hero status="info">
                          <input formControlName="profileLogo" hidden type="file" (change)="uploadLogo($event)"
                            accept="image/*">
                          Load image
                        </label>
                      </div>
                      <div class="color-danger m-t-15" *ngIf="!brandSizeValidation">
                        Wrong image size
                      </div>
                      <div class="color-danger m-t-15"
                        *ngIf="myFormStep2.controls['profileLogo'].invalid && !customValidationStep2">
                        Upload image
                      </div>
                      <div class="color-secondary fs-10 m-t-15">
                        The best image size in pixels: 63x63. File size limit: 1MB
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Cover Image
                    </div>
                    <div class="value">
                      <div *ngIf="photoCover" class="pos-r">
                        <div>
                          <img width="100%" [src]="photoCover" alt="">
                        </div>
                        <div (click)="deleteImg('photoCover')" class="close">
                          <i class="nb-plus"></i>
                        </div>
                      </div>
                      <div *ngIf="!photoCover">
                        <label
                          [ngClass]="{'error': (myFormStep2.controls['coverImage'].invalid && !customValidationStep2) || !coverSizeValidation}"
                          class="c-p file-lable" size="xsmall" nbButton hero status="info">
                          <input formControlName="coverImage" hidden type="file" (change)="uploadCover($event)"
                            accept="image/*">
                          Load image
                        </label>
                      </div>
                      <div class="color-danger m-t-15" *ngIf="!coverSizeValidation">
                        Wrong image size
                      </div>
                      <div class="color-danger m-t-15"
                        *ngIf="myFormStep2.controls['coverImage'].invalid && !customValidationStep2">
                        Upload image
                      </div>
                      <div class="color-secondary fs-10 m-t-7">
                        The best image size in pixels: 750x288. File size limit: 4MB
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Description
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <textarea
                          [ngClass]="{'error': myFormStep2.controls['description'].invalid && !customValidationStep2}"
                          formControlName="description" nbInput fullWidth placeholder="Textarea"></textarea>
                        <div *ngIf="myFormStep2.controls['description'].invalid && !customValidationStep2"
                          class="error-lable">
                          Field error (must have at least 1 character)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      More Info
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <textarea
                          [ngClass]="{'error': myFormStep2.controls['moreInfo'].invalid && !customValidationStep2}"
                          formControlName="moreInfo" nbInput fullWidth placeholder="Textarea"></textarea>
                        <div *ngIf="myFormStep2.controls['moreInfo'].invalid && !customValidationStep2"
                          class="error-lable">
                          Field error (must have at least 1 character)
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row-input">
                    <div class="lable">
                      Category
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <nb-select [ngClass]="{'error': myFormStep2.controls['category'].invalid && !customValidationStep2}"
                          formControlName="category" placeholder="">
                          <nb-option disabled>- Select Category -</nb-option>
                          <nb-option *ngFor="let category of categories" [value]="category">{{category}}</nb-option>
                        </nb-select>
                        <div *ngIf="myFormStep2.controls['category'].invalid && !customValidationStep2"
                          class="error-lable">
                          Select Category
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="row-input">
                    <div class="lable">
                      Location
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input [ngClass]="{'error': myFormStep2.controls['location'].invalid && !customValidationStep2}"
                          formControlName="location" class="color-link" type="text" nbInput fullWidth fieldSize="medium"
                          placeholder="">
                        <div *ngIf="myFormStep2.controls['location'].invalid && !customValidationStep2"
                          class="error-lable">
                          Field error (must have location info)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Currency
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <nb-select [ngClass]="{'error': myFormStep2.controls['currency'].invalid && !customValidationStep2}"
                          formControlName="currency" placeholder="">
                          <nb-option value="USD ($)">USD ($)</nb-option>
                          <nb-option value="EUR (€)">EUR (€)</nb-option>
                          <nb-option value="GBP (£)">GBP (£)</nb-option>
                          <nb-option value="AUD ($)">AUD ($)</nb-option>
                          <nb-option value="CAD ($)">CAD ($)</nb-option>
                          <nb-option value="BRL (R$)">BRL (R$)</nb-option>
                          <nb-option value="HKD (HK$)">HKD (HK$)</nb-option>
                          <nb-option value="BGN (лв)">BGN (лв)</nb-option>
                          <nb-option value="TRY (₺)">TRY (₺)</nb-option>
                          <nb-option value="AED (د.إ)">AED (د.إ)</nb-option>
                          <nb-option value="CHF (CHF)">CHF (CHF)</nb-option>
                          <nb-option value="SEK (kr)">SEK (kr)</nb-option>
                          <nb-option value="NT (NT$)">NT (NT$)</nb-option>
                          <nb-option value="ZAR (R)">ZAR (R)</nb-option>
                          <nb-option value="SGD ($)">SGD ($)</nb-option>
                          <nb-option value="KRW (₩)">KRW (₩)</nb-option>
                          <nb-option value="LKR (Rs)">LKR (Rs)</nb-option>
                          <nb-option value="DKK (kr)">DKK (kr)</nb-option>
                          <nb-option value="PKR (Rs)">PKR (Rs)</nb-option>
                          <nb-option value="GEL (₾)">GEL (₾)</nb-option>
                          <nb-option value="RUB (₽)">RUB (₽)</nb-option>
                          <nb-option value="PLN (zł)">PLN (zł)</nb-option>
                          <nb-option value="CNY (¥)">CNY (¥)</nb-option>
                          <nb-option value="NOK (kr)">NOK (kr)</nb-option>
                          <nb-option value="INR (₹)">INR (₹)</nb-option>
                          <nb-option value="NZD ($)">NZD ($)</nb-option>
                          <nb-option value="MYR (RM)">MYR (RM)</nb-option>
                          <nb-option value="THB (฿)">THB (฿)</nb-option>
                          <nb-option value="VND (₫)">VND (₫)</nb-option>
                        </nb-select>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Phone
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input [ngClass]="{'error': myFormStep2.controls['phone'].invalid && !customValidationStep2}"
                          formControlName="phone" type="text" nbInput fullWidth fieldSize="medium" placeholder="">
                        <div *ngIf="myFormStep2.controls['phone'].invalid && !customValidationStep2"
                          class="error-lable">
                          Enter Valid Phone Number
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Email
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input [ngClass]="{'error': myFormStep2.controls['email'].invalid && !customValidationStep2}"
                          formControlName="email" type="text" nbInput fullWidth fieldSize="medium" placeholder="">
                        <div *ngIf="myFormStep2.controls['email'].invalid && !customValidationStep2"
                          class="error-lable">
                          Field error (for example: "user@mail.com")
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Website
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input [ngClass]="{'error': myFormStep2.controls['website'].invalid && !customValidationStep2}"
                          formControlName="website" class="color-link" type="text" nbInput fullWidth fieldSize="medium"
                          placeholder="">
                        <div *ngIf="myFormStep2.controls['website'].invalid && !customValidationStep2"
                          class="error-lable">
                          Field error (for example: "http://www.website.com")
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">

                    </div>
                    <div class="value">
                      <button [disabled]="inProcces" (click)="goStep3()" class="cust-button" nbButton status="success">
                        <i *ngIf="inProcces" class="fas fa-spinner fa-pulse"></i>

                        Connect
                      </button>
                    </div>
                  </div>
                </div>
              </form>

            </nb-step>
            <nb-step [label]="labelThird" [stepControl]="myFormStep3">
              <ng-template #labelThird>Questionaire</ng-template>

              <!-- <div class="row">
                <div class="col-8">
                  <div class="m-b-60 m-t-45 fs-18 fw-500">
                    Do you have an iBeacon?
                    <input (click)="ibeaconToggle('yes')" style="margin-left: 30px;" type="radio" name="iBeacon" value="yes"> Yes
                    <input (click)="ibeaconToggle('no')" style="margin-left: 30px;" type="radio" name="iBeacon" value="no" checked> No
                  </div>
                  <form [formGroup]="myFormStep3">
                    <div class="input-wrapper">
                      <div class="row-input" *ngIf="ibeacon === 'yes'">
                          <div class="lable">
                            iBeacon UUID
                          </div>
                          <div class="value">
                            <div class="pos-r full-width">
                              <input [ngClass]="{'error': myFormStep3.controls['ibeacon_uuid'].invalid && !customValidationStep3}"
                                formControlName="ibeacon_uuid" type="text" nbInput fullWidth fieldSize="medium"
                                placeholder="">
                              <div *ngIf="myFormStep3.controls['ibeacon_uuid'].invalid && !customValidationStep3"
                                class="error-lable">
                                Field error (must have iBeacon UUID in the format '258ce5a2-eca1-273f-a9b1-778e5a42ab8a')
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="ibeacon === 'yes'">
                          <div class="col-7">
                            <div class="row-input">
                              <div class="lable">
                                iBeacon Major
                              </div>
                              <div class="value">
                                <div class="pos-r full-width">
                                  <input [ngClass]="{'error': myFormStep3.controls['ibeacon_major'].invalid && !customValidationStep3}"
                                    formControlName="ibeacon_major" type="number" nbInput fullWidth fieldSize="medium"
                                    placeholder="" style="padding-left: 8px !important; padding-right: 8px !important;">
                                  <div *ngIf="myFormStep3.controls['ibeacon_major'].invalid && !customValidationStep3"
                                    class="error-lable">
                                    Field error (must have iBeacon Major (range 0-65535))
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 p-l-5">
                            <div class="row-input">
                              <div class="lable" style="min-width: 45px;">
                                Minor
                              </div>
                              <div class="value">
                                <div class="pos-r full-width">
                                  <input [ngClass]="{'error': myFormStep3.controls['ibeacon_minor'].invalid && !customValidationStep3}"
                                    formControlName="ibeacon_minor" type="number" nbInput fullWidth fieldSize="medium"
                                    placeholder="" style="padding-left: 8px !important; padding-right: 8px !important;">
                                  <div *ngIf="myFormStep3.controls['ibeacon_minor'].invalid && !customValidationStep3"
                                    class="error-lable">
                                    Field error (must have iBeacon Minor (range 0-65535))
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row-input">
                          <div class="lable">
                            Broadcast Message
                          </div>
                          <div class="value">
                            <div class="pos-r full-width">
                              <textarea [ngClass]="{'error': myFormStep3.controls['ibeacon_notificationtext'].invalid && !customValidationStep3}"
                                formControlName="ibeacon_notificationtext" nbInput fullWidth placeholder=""></textarea>
                              <div *ngIf="myFormStep3.controls['ibeacon_notificationtext'].invalid && !customValidationStep3"
                                class="error-lable">
                                Field error (must have iBeacon Broadcast Message)
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </form>
                </div>
                <div class="col-4 p-t-35 p-l-30">
                    <img src="assets/img/mobileibeacon.png" alt="" />
                </div>
              </div> -->

              <form [formGroup]="myFormStep3">
                <div class="input-wrapper">
                  <div class="row-input">
                      <div class="lable" style="min-width: 250px;">
                        How many Staff you have?
                      </div>
                      <div class="value">
                        <div class="pos-r full-width">
                          <input [ngClass]="{'error': myFormStep3.controls['noOfStaff'].invalid && !customValidationStep3}"
                            formControlName="noOfStaff" type="number" nbInput fullWidth fieldSize="medium"
                            placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="row-input">
                      <div class="lable" style="min-width: 250px;">
                        What type of business you have?
                      </div>
                      <div class="value">
                        <div class="pos-r full-width">
                            <nb-select [ngClass]="{'error': myFormStep3.controls['businessType'].invalid && !customValidationStep3}"
                              formControlName="businessType" placeholder="">
                              <nb-option disabled>- Select Business Type -</nb-option>
                              <nb-option *ngFor="let businessType of businessTypes" [value]="businessType">{{businessType}}</nb-option>
                            </nb-select>
                        </div>
                      </div>
                    </div>
                    <div class="row-input">
                      <div class="lable" style="min-width: 250px;">
                        On how many locations is your business running?
                      </div>
                      <div class="value">
                        <div class="pos-r full-width">
                          <input [ngClass]="{'error': myFormStep3.controls['noOfLocations'].invalid && !customValidationStep3}"
                            formControlName="noOfLocations" type="number" nbInput fullWidth fieldSize="medium"
                            placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="row-input">
                      <div class="lable" style="min-width: 250px;">
                        Select Walletly Partner, whom you like to work with
                      </div>
                      <div class="value">
                        <div class="pos-r full-width">
                          <nb-select [ngClass]="{'error': myFormStep3.controls['brandPartner'].invalid && !customValidationStep3}"
                            formControlName="brandPartner" placeholder="">
                            <nb-option style="padding: 10px;" value="none">
                              <div class="partner m-l-60">
                                <p>I am good</p>
                              </div>
                            </nb-option>
                            <!-- <nb-option [style.background-image]="getPartnerPicture(partner.picture)" class="partner" *ngFor="let partner of partners" [value]="partner">{{partner.name}}</nb-option> -->
                            <nb-option style="padding: 10px;" *ngFor="let partner of partners" [value]="partner">
                              <div class="partner">
                                <img class="m-r-15" src="{{ partner.picture }}">
                                <p>{{ partner.name }}</p>
                              </div>
                            </nb-option>
                          </nb-select>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="myFormStep3.invalid && !customValidationStep3"
                      class="error-lable">
                      Please Answer Above Questions..
                    </div>
                </div>    
              </form>
              
              <div class="df jc-c">
                <button (click)="goDashboard()" class="cust-button" nbButton status="success">
                  Go to Dashboard
                </button>
              </div>
              
              <!-- <div class="row m-b-30">
                <div class="col-md-3 col-lg-3 col-6">
                  <div (click)="platform = 'bitmap'" [ngClass]="{'active': ibeacon === 'yes'}"
                    class="card-platform">
                    <img src="assets/img/Bitmap-platfotm.png" alt="">
                    <div *ngIf="ibeacon === 'yes'" class="icon-active">
                      <img src="assets/svg-icon/success-circle.svg" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-lg-3 col-6">
                  <div (click)="platform = '2'" [ngClass]="{'active': platform === '2'}" class="card-platform">
                    <img src="assets/img/activeChat-logo.jpg" alt="">
                    <div *ngIf="platform === '2'" class="icon-active">
                      <img src="assets/svg-icon/success-circle.svg" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-lg-3 col-6">
                  <div (click)="platform = '3'" [ngClass]="{'active': platform === '3'}" class="card-platform">
                    <img src="assets/img/botsify-logo.jpg" alt="">
                    <div *ngIf="platform === '3'" class="icon-active">
                      <img src="assets/svg-icon/success-circle.svg" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-lg-3 col-6">
                  <div (click)="platform = '4'" [ngClass]="{'active': platform === '4'}" class="card-platform">
                    <img src="assets/img/code.png" alt="">
                    <div *ngIf="platform === '4'" class="icon-active">
                      <img src="assets/svg-icon/success-circle.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="platform === 'bitmap'">
                <div class="platform m-b-30">
                  <div class="head">

                    <form [formGroup]="myFormStep3">
                      <div class="df ai-c jc-c">
                        <div class="fs-15 fw-600 m-r-12">
                          API KEY
                        </div>
                        <div class="pos-r input-wrap">
                          <input [ngClass]="{'error': myFormStep3.controls['apiKey'].invalid && !customValidationStep3}"
                            formControlName="apiKey" [(ngModel)]="api" class="color-dark fs-14 fw-500" type="text"
                            nbInput fullWidth fieldSize="medium" placeholder="" class="p-r-32">
                          <div *ngIf="myFormStep3.controls['apiKey'].invalid && !customValidationStep3"
                            class="error-lable">
                            Field error (for example: "http://www.website.com")
                          </div>
                          <div (mouseover)="mouseMove()" (click)="copyApi()" ngxClipboard [cbContent]="api"
                            [container]="container" nbTooltip="{{toolTipStatus}}" class="input-icon">
                            <img src="assets/img/copy.png" alt="">
                          </div>
                        </div>
                      </div>
                    </form>

                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-12 col-lg-6 col col-12">
                        <div class="fs-24 color-dark fw-600 m-b-11 m-t-28">
                          How to Add API key?
                        </div>
                        <div class="fs-17 fw-600">
                          1. copy api key <br>
                          2. paste it in selected platfrom <br>
                          3. paste it in selected platfrom
                        </div>
                      </div>
                      <div class="col-md-12 col-lg-6 col col-12">
                        <div class="video-wrap">
                          <video>
                            Browser not supported
                          </video>
                          <div class="play">
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="df jc-c">
                  <button (click)="goDashboard()" class="cust-button" nbButton status="success">
                    Go to Dashboard
                  </button>
                </div>
              </div> -->

            </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="text-center fs-11 color-secondary">
      ®2019 Walletly Business, All rights reserved. Terms and Privacy
    </div>
  </nb-layout-column>
</nb-layout>

<!-- <app-dialog-upload-image *ngIf="showLogoUploader" [uploadType]="uploadType" (uploadEmit)="photoLogo = $event; showLogoUploader = false"
  (closeEmit)="showLogoUploader = $event" [image]="fileImg"></app-dialog-upload-image> -->
<app-dialog-upload-image *ngIf="showLogoUploader" [uploadType]="uploadType"
  (uploadEmit)="uploadPhoto($event, 'logo'); showLogoUploader = false" (closeEmit)="showLogoUploader = $event"
  [image]="fileImg"></app-dialog-upload-image>
<app-dialog-upload-image *ngIf="showBrandUploader" [uploadType]="uploadType"
  (uploadEmit)="uploadPhoto($event, 'cover'); showBrandUploader = false" (closeEmit)="showBrandUploader = $event"
  [image]="fileImg"></app-dialog-upload-image>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="position: relative !important;">
      Error in Connecting Brand
      <button class="dialogClose" (click)="ref.close()">x</button>
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
  </nb-card>
</ng-template>
