<h1 class="m-t-0 m-b-20 fs-24 fw-600 m-r-22">
  Subscribers
</h1>
<div class="df jc-b m-b-15">
  <div class="df">
    <div class="pos-r m-r-9" style="top: -5px;">
      <input
        [(ngModel)]="searchText"
        (ngModelChange)="filterSubscriberFun()"
        style="width: 235px;"
        placeholder="Search"
        class="small"
        type="text"
        nbInput
        fullWidth
        fieldSize="small"
      />
      <div class="input-icon">
        <img src="assets/svg-icon/search-outline.svg" alt="" />
      </div>
    </div>
    <!-- <div class="filtr-btn pos-r" style="top: -5px">
      <img src="assets/img/filtre.png" alt="" />
    </div> -->
  </div>
  <div>
    {{selectedSubscribers.length}} selected of {{filterSubscribers.length}} total
  </div>
</div>
<nb-card>
  <nb-card-body>
    <div *ngIf="showLoader" class="loader-table m-t-50">
      <img width="70px" src="assets/img/Loader2x.gif" alt="">
    </div>
    <div *ngIf="subscribers.length && !showLoader" class="check-all-wrap">
        <!-- <div class="all m-t-14 m-b-12">
          <nb-checkbox [(ngModel)]="checkAllSubscribers" (change)="selectAll()">All</nb-checkbox>
        </div> -->
        <div (click)="downloadSubscribersData()" class="invite download m-t-14 m-b-12 ml-auto">
          <img src="assets/img/d-icon.png" width="14px" alt="">
          Download CSV
        </div>
    </div>
    <div class="box-container" *ngIf="!showLoader">
      <table *ngIf="filterSubscribers.length" class="m-b-40" [nbTreeGrid]="filterSubscribers  | paginate: { itemsPerPage: pageSize, currentPage: p }">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allSubscribersColumn"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allSubscribersColumn"></tr>

        <ng-container
          *ngFor="let column of subscribersColumn"
          [nbTreeGridColumnDef]="column"
        >
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            <span *ngIf="column !== 'Check'">
              {{column}}
            </span>
            <div *ngIf="column === 'Check'">
              <nb-checkbox [(ngModel)]="checkAllSubscribers" (change)="selectAll()"></nb-checkbox>
            </div>
          </th>
          <td
            [ngClass]="{'check-row-bg': false}"
            nbTreeGridCell
            *nbTreeGridCellDef="let row; index as i"
          >
          <div *ngIf="column === 'Check'">
            <nb-checkbox [(ngModel)]="row.data[column].name" (change)="selectSubscribers()"></nb-checkbox>
          </div>
          <div *ngIf="column !== 'Check'">
            <div *ngIf="column === 'Avatar' && !row.data[column].name">
              <span><ngx-avatar size="40" name='{{row.data["Name"].name}}'></ngx-avatar></span>
            </div>
            <div *ngIf="column === 'Avatar' && row.data[column].name !== ''">
              <span><ngx-avatar size="40" src='{{row.data[column].name}}'></ngx-avatar></span>
            </div>
            <div *ngIf="column !== 'Avatar'" class="ellipsis">
              <span>{{ row.data[column].name }}</span>
            </div>
          </div>
          </td>
        </ng-container>
      </table>
      <div class="df ai-c jc-e">
        <span class="m-r-10">Rows per page</span>
        <select [(ngModel)]="pageSize">
          <option selected [value]="'10'">10</option>
          <option [value]="'50'">50</option>
          <option [value]="'100'">100</option>
        </select>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div *ngIf="!subscribers.length" class="create-btn-wrap">
        <img class="m-b-16 m-t-40" src="assets/svg-icon/noAudience.svg" alt="">
        <div class="m-b-25 fs-22">
          No Subscribers!
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
