<div class="df jc-b m-b-15">
  <h1 class="m-t-0 m-b-0 fs-24 fw-600">
    Business
  </h1>
</div>
<nb-card>
  <nb-card-header>Choose Platform</nb-card-header>
  <nb-card-body>
    <div class="card-wrap">
      <div class="botcard" [routerLink]="['/main/bots-store/bots-details']">
        <div class="body">
          <img src="assets/img/Box-PNG/manychat-box.png" alt="">
        </div>
        <div class="foot">
          Many Chat
        </div>
      </div>
      <!-- <div class="card" [routerLink]="['/main/bots-store/bots-details']">
        <div class="body">
          <img src="assets/img/Box-PNG/activechat-box.png" alt="">
        </div>
        <div class="foot">
          Active Chat
        </div>
      </div>
      <div class="card" [routerLink]="['/main/bots-store/bots-details']">
        <div class="body">
          <img src="assets/img/Box-PNG/mobilemonkey-box.png" alt="">
        </div>
        <div class="foot">
          Mobile Monkey
        </div>
      </div>
      <div class="card" [routerLink]="['/main/bots-store/bots-details']">
        <div class="body">
          <img src="assets/img/Box-PNG/mobilemonkey-box.png" alt="">
        </div>
        <div class="foot">
          Chat fuel
        </div>
      </div>
      <div class="card" [routerLink]="['/main/bots-store/bots-details']">
        <div class="body">
          <img src="assets/img/Box-PNG/dialogflow-box.png" alt="">
        </div>
        <div class="foot">
          Dialog flow
        </div>
      </div>
      <div class="card" [routerLink]="['/main/bots-store/bots-details']">
        <div class="body">
          <img src="assets/img/Box-PNG/botsfy-box.png" alt="">
        </div>
        <div class="foot">
          Botsify
        </div>
      </div> -->
    </div>
  </nb-card-body>
</nb-card>