<div class="main-wrap">
  <div>
    <div class="text-center m-b-29">
      <img src="assets/svg-icon/logo-white.svg" alt="">
    </div>
    <div class="fs-22 fw-600 color-white text-center">
      Get started with a free account
    </div>
    <div class="fs-13 fw-400 color-white text-center m-b-18">
      Sign up in a minute. No credit card required.
    </div>
    <nb-card class="auth-card m-b-40">
      <nb-card-body>

        <form [formGroup]="myForm">
          <div class="inputs-row">
            <div class="input-wrap m-r-9">
              <div class="fs-15 m-b-5">
                First Name
              </div>
              <input [ngClass]="{'error': myForm.controls['firstname'].invalid && !customValidation}" formControlName="firstname" type="text" nbInput fullWidth fieldSize="medium" placeholder="">
              <div *ngIf="myForm.controls['firstname'].invalid && !customValidation" class="error-lable">
                Field error (must have at least 1 character)
            </div>
            </div>
            <div class="input-wrap">
              <div class="fs-15 m-b-5">
                Last Name
              </div>
              <input [ngClass]="{'error': myForm.controls['lastname'].invalid && !customValidation}" formControlName="lastname" type="text" nbInput fullWidth fieldSize="medium" placeholder="">
              <div *ngIf="myForm.controls['lastname'].invalid && !customValidation" class="error-lable">
                Field error (must have at least 1 character)
            </div>
            </div>
          </div>
          <div class="inputs-row">
            <div class="input-wrap full-width">
              <div class="fs-15 m-b-5">
                Work Email
              </div>
              <input [ngClass]="{'error': myForm.controls['email'].invalid && !customValidation}" formControlName="email" type="text" nbInput fullWidth fieldSize="medium" placeholder="">
              <div *ngIf="myForm.controls['email'].invalid && !customValidation" class="error-lable">
                Field error (for example: "user@mail.com")
            </div>
            </div>
          </div>
          <div class="inputs-row">
            <div class="input-wrap full-width">
              <div class="fs-15 m-b-5">
                Password
              </div>
              <input [ngClass]="{'error': myForm.controls['password'].invalid && !customValidation}" formControlName="password" type="password" nbInput fullWidth fieldSize="medium" placeholder="">
              <div *ngIf="myForm.controls['password'].invalid && !customValidation" class="error-lable">
                Field error (must have at least 6 character)
            </div>
            </div>
          </div>
        </form>

        <div class="color-secondary fs-11 text-right">
          Your password should be at least 8 characters and <br> include at least a number and a symbol.
        </div>
        <div class="df ai-c m-b-30">
          <nb-checkbox  [ngClass]="{'error': !terms && !customValidation}" [(ngModel)]="terms" status="success">
            <span class="color-secondary fs-11">
              By signing-up you agree to our
            </span>
          </nb-checkbox>
          <span class="color-secondary fs-11">
            <a class="link"> Terms & Conditions</a>
          </span>
        </div>
        <div class="df ai-c m-b-30">
          <nb-checkbox status="success" [(ngModel)]="marketing">
            <span class="color-secondary fs-11">
              I want to get the full Walletly Business experience and be included in marketing activities and extended
              support.
            </span>
          </nb-checkbox>
        </div>
        <div class="m-b-25">
          <button (click)="signUp()" class="cust-button fw-400 fs-14" fullWidth nbButton status="success">
            Sign up
          </button>
        </div>
        <div class="custome-hr m-b-25">
          <span>or</span>
        </div>
        <div>
          <button (click)="signInWithFacebook()" class="cust-button fw-400 fs-14 df ai-c jc-c" fullWidth nbButton status="primary">
            <img class="m-b-5" src="assets/svg-icon/fb.svg" alt=""> Connect with Facebook
          </button>
        </div>
      </nb-card-body>
    </nb-card>
    <div class="fs-13 m-b-40 fw-400 color-white text-center">
      Already have an account? <span class="c-p fw-700" [routerLink]="[ '/auth/login']"> SIGN IN</span>
    </div>
  </div>
  <div class="text-center fs-11 color-white">
    ®2019 Walletly Business, All rights reserved. Termsand Privacy
  </div>
</div>