.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 111111;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 20px;
  pointer-events: none;
}
.toastr-item {
  width: 390px;
  display: flex;
  background: white;
  box-shadow: 0 0 8px 1px rgba(87, 86, 90, 0.2);
  border-radius: 5px !important;
  padding: 20px;
  padding-left: 30px;
  pointer-events: all;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
  .body {
    line-height: 1.7;
  }
  .icon {
    margin-right: 20px;
    min-width: 60px;
    width: 60px;
    img {
      width: 100%;
    }
  }
  .close-icon {
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 35px;
    cursor: pointer;
  }
}
.cust-button {
  &.basic {
    background: white !important;
    color: #4ca6ff !important;
    border: 2px solid #4ca6ff !important;
  }
}
