<nb-layout>
  <nb-sidebar>
    <div class="side-wrap">
      <div class="top">
        <div class="logo c-p" (click)="refreshPage()">
          <img src="assets/svg-icon/logo-dark.svg" alt="" />
        </div>
        <nb-menu
          #menu
          [tag]="'mainMenu'"
          [ngClass]="{ 'admin-type': userAdmin }"
          [items]="items"
          autoCollapse="true"
        >
        </nb-menu>
        <div *ngIf="userAdmin" (click)="logout()" class="menu-item-aditation">
          <div class="icon logout"></div>
          <div>Logout</div>
        </div>
        <div *ngIf="showSearchBox">
          <div class="pos-r">
            <input
              [(ngModel)]="searchBrandText"
              (ngModelChange)="searchBrand()"
              type="text"
              nbInput
              fullWidth
              class="search-input"
              fieldSize="medium"
              placeholder="Search"
            />
            <i class="nb-search input-icon"></i>
          </div>
          <div *ngFor="let item of filteredBrands">
            <div (click)="changeBrand(item.brand_id)">
              <div class="menu-item">
                <div class="icon">
                  <img width="100%" [src]="item.brand_logo" alt="" />
                </div>
                {{ item.brand_name }}
              </div>
            </div>
          </div>
          <div [routerLink]="['/fb-connect']" class="menu-item add-page">
            <div class="icon">
              <i class="nb-plus"></i>
            </div>
            Add New Page
          </div>
        </div>
      </div>
      <div *ngIf="!userAdmin" class="bot">
        <div [routerLink]="['/profile']" class="foot-menu-item">
          <div class="icon user-icon">
            <img [src]="avatar" alt="" />
          </div>
          <div>
            My Account
          </div>
        </div>
        <div [routerLink]="[ '/main/help' ]" [ngClass]="{'active': helpPage }" class="foot-menu-item m-b-20">
          <div class="icon">
            <img
              width="100%"
              src="assets/svg-icon/menu-icon-SVG/menu-help-icon.svg"
              alt=""
            />
          </div>
          <div>
            Help
          </div>
        </div>
        <div class="p-l-12 p-r-12">
          <button
            (click)="goToUpgade()"
            class="cust-button"
            fullWidth
            nbButton
            status="info"
          >
            Upgrade to Pro
          </button>
        </div>
      </div>
    </div>
  </nb-sidebar>

  <nb-layout-header subheader fixed>
    <!-- <a href="#" (click)="toggle()">toogle</a> -->
    <!-- <h3 style="text-transform: capitalize;" [ngClass]="{'fs-11 fw-400': brandName}">
           <span style="color: #afafb9;">{{brandName}}</span> {{headerTitle}}
        </h3> -->
    <app-breadcrumb [name]="username.firstName"></app-breadcrumb>
  </nb-layout-header>

  <nb-layout-column class="p-t-80">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    ®2019 Walletly Business, All rights reserved. Terms and Privacy
  </nb-layout-footer>
</nb-layout>
<div *ngIf="showLoader" class="loader">
  <img width="200px" src="assets/img/Loader2x.gif" alt="" />
</div>
<app-toastr></app-toastr>
<app-toastr-success></app-toastr-success>
