<nb-layout>
  <nb-sidebar>
    <div class="side-wrap">
      <div class="top">
        <div class="logo c-p" (click)="refreshPage()">
          <img src="assets/svg-icon/logo-dark.svg" alt="" />
        </div>
        <nb-menu
          #menu
          [tag]="'mainMenu'"
          [ngClass]="{ 'admin-type': userAdmin }"
          [items]="items"
          autoCollapse="true"
        >
        </nb-menu>
        <div *ngIf="userAdmin" (click)="logout()" class="menu-item-aditation">
          <div class="icon logout"></div>
          <div>Logout</div>
        </div>
        <div *ngIf="showSearchBox">
          <div class="pos-r">
            <input
              [(ngModel)]="searchBrandText"
              (ngModelChange)="searchBrand()"
              type="text"
              nbInput
              fullWidth
              class="search-input"
              fieldSize="medium"
              placeholder="Search"
            />
            <i class="nb-search input-icon"></i>
          </div>
          <div *ngFor="let item of filteredBrands">
            <div (click)="changeBrand(item.brand_id)">
              <div class="menu-item">
                <div class="icon">
                  <img width="100%" [src]="item.brand_logo" alt="" />
                </div>
                {{ item.brand_name }}
              </div>
            </div>
          </div>
          <div [routerLink]="['/fb-connect']" class="menu-item add-page">
            <div class="icon">
              <i class="nb-plus"></i>
            </div>
            Add New Page
          </div>
        </div>
      </div>
      <div *ngIf="!userAdmin" class="bot">
        <div [routerLink]="['/profile']" class="foot-menu-item">
          <div class="icon user-icon">
            <img [src]="avatar" alt="" />
          </div>
          <div>
            My Account
          </div>
        </div>
        <div [routerLink]="[ '/main/help' ]" [ngClass]="{'active': helpPage }" class="foot-menu-item m-b-20">
          <div class="icon">
            <img
              width="100%"
              src="assets/svg-icon/menu-icon-SVG/menu-help-icon.svg"
              alt=""
            />
          </div>
          <div>
            Training & Videos
          </div>
        </div>
        <div class="p-l-12 p-r-12">
          <button
            disabled
            (click)="goToUpgade()"
            class="cust-button"
            fullWidth
            nbButton
            status="info"
          >
            Upgrade to Pro
          </button>
        </div>
      </div>
    </div>
  </nb-sidebar>

  <nb-layout-header subheader fixed>
    <div class="m-r-5 c-p">
      <div class="badge">

        <div *ngIf="brandPlan == 'professional'" style="width: 74px; height: 26px; background-image: url('assets/svg-icon/proBadge.svg')">
          <a target="_blank" href="https://www.walletly.ai/pricing" style="display: block; width: 100%; height: 100%;"></a>
        </div>

        <div *ngIf="brandPlan == 'basic'" style="width: 74px; height: 26px; background-image: url('assets/svg-icon/basicBadge.svg')">
          <a target="_blank" href="https://www.walletly.ai/pricing" style="display: block; width: 100%; height: 100%;"></a>
        </div>
        <div *ngIf="brandPlan == 'basic'" class="badgeInfo">
          The Basic plan allows you to create up to 8 Campaign with 2000 Coupons for each campaign . Go premium if you want to create more campaigns.
        </div>

        <div *ngIf="brandPlan == 'starter'" style="width: 74px; height: 26px; background-image: url('assets/svg-icon/starterBadge.svg')">
          <a target="_blank" href="https://www.walletly.ai/pricing" style="display: block; width: 100%; height: 100%;"></a>
        </div>
        <div *ngIf="brandPlan == 'starter'" class="badgeInfo">
          The Starter plan allows you to create up to 4 Campaigns with 100 Coupons for each campaign . Go Basic if you want to create more campaigns.
        </div>
        
      </div>
    </div>
    <app-breadcrumb [name]="username.firstName"></app-breadcrumb>
    <a href="assets/WalletlyRoadmapV1.pdf" target="_blank" style="margin-left: auto; margin-right: 0px; font-size: small; border: 1px solid #dee3e5; border-radius: 5px; padding: 10px 15px;">Development Roadmap</a>
  </nb-layout-header>

  <nb-layout-column class="p-t-80">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    ®2019 Walletly Business, All rights reserved. Terms and Privacy
  </nb-layout-footer>
</nb-layout>
<div *ngIf="showLoader" class="loader">
  <img width="200px" src="assets/img/Loader2x.gif" alt="" />
</div>
<app-toastr></app-toastr>
<app-toastr-success></app-toastr-success>
