<div class="df m-b-15">
  <h1 class="m-t-0 m-b-0 fs-24 m-r-20 fw-600">
    Create Templates
  </h1>
  <div class="pos-r m-r-17" style="top: -5px;">
    <input
      style="width: 235px;"
      placeholder="Search"
      class="small"
      type="text"
      nbInput
      fullWidtha
      fieldSize="small"
    />
    <div class="input-icon">
      <img src="assets/svg-icon/search-outline.svg" alt="" />
    </div>
  </div>
  <div class="filtre-icon-wrap pos-r" style="top: -5px;">
    <img src="assets/img/filtr.png" alt="" />
  </div>
</div>
<nb-card>
  <nb-card-body>
    <div class="input-wrapper">
      <form [formGroup]="myForm">
        <div class="row-input">
          <div class="lable">
            Select Tempalte
          </div>
          <div class="value">
            <div class="pos-r full-width">
              <nb-select
                [ngClass]="{
                  error:
                    myForm.controls['selectTempalte'].invalid &&
                    !customValidation
                }"
                formControlName="selectTempalte"
                size="small"
                class="small-select full-width"
              >
                <nb-option value="1">$</nb-option>
                <nb-option value="2">‎€</nb-option>
              </nb-select>
              <div
                *ngIf="
                  myForm.controls['selectTempalte'].invalid && !customValidation
                "
                class="error-lable"
              >
                Field error (must have at least 1 character)
              </div>
            </div>
          </div>
        </div>
        <div class="row-input m-b-22">
          <div class="lable">
            Icon
          </div>
          <div class="value">
            <div
              (click)="file.click()"
              class="custome-input-field df ai-c c-p m-b-8"
              [ngClass]="{
                error: myForm.controls['iconImage'].invalid && !customValidation
              }"
            >
              {{ iconImage }}
            </div>
            <div class="color-secondary fs-10">
              The best image size in pixels: 172x250. File size limit: 1MB
            </div>
            <div
              *ngIf="myForm.controls['iconImage'].invalid && !customValidation"
              class="error-lable"
              (click)="file.focus()"
            >
              Field error (must be uploaded image)
            </div>
            <input
              #file
              hidden
              [(ngModel)]="iconImage"
              formControlName="iconImage"
              (change)="uploadIcon($event)"
              type="file"
            />
          </div>
        </div>
        <div class="row-input m-b-50">
          <div class="lable"></div>
          <div class="value">
            <button
              style="width: 145px"
              (click)="add()"
              class="cust-button"
              nbButton
              status="success"
            >
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
    <table class="m-b-40 campaign-table" [nbTreeGrid]="dataTable">
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="defaultColumns"></tr>
      <tr
        nbTreeGridRow
        *nbTreeGridRowDef="let row; columns: defaultColumns"
      ></tr>

      <ng-container
        *ngFor="let column of defaultColumns"
        [nbTreeGridColumnDef]="column"
      >
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ column }}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <div
            class="ellipsis"
            *ngIf="
              column !== 'Image' && column !== 'Status' && column !== 'Action'
            "
          >
            <span>
              {{ row.data[column] }}
            </span>
          </div>
          <div *ngIf="column === 'Image'">
            <img height="63px" [src]="row.data[column]" alt="" />
          </div>
          <div *ngIf="column === 'Status'">
            <div
              *ngIf="row.data[column] === 'Active'"
              class="icon-status active"
            >
              <img
                class="m-r-3"
                width="17px"
                src="assets/img/success-white.png"
                alt=""
              />
              {{ row.data[column] }}
            </div>
            <div *ngIf="row.data[column] !== 'Active'" class="icon-status">
              {{ row.data[column] }}
            </div>
          </div>
          <div *ngIf="column === 'Action'">
            <div class="pos-r text-right">
              <img
                (click)="showShared(row.data, $event)"
                class="c-p"
                src="assets/svg-icon/shared.svg"
                alt=""
              />
              <div *ngIf="showActions === row.data" class="action-drb">
                <div (click)="showActions = null" class="item">
                  <img src="assets/svg-icon/view.svg" alt="" />
                  View
                </div>
                <div (click)="showActions = null" class="item">
                  <img src="assets/svg-icon/edit.svg" alt="" />
                  Edit
                </div>
                <!-- (click)="
                delete(
                  row.data['Id'].name,
                  row.data['Brand_Id'].name,
                  $event
                );
                showActions = null
              " -->
                <div class="item">
                  <img src="assets/svg-icon/disable.svg" alt="" />
                  Disabled
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>
    </table>
  </nb-card-body>
</nb-card>

<app-dialog-upload-image
  *ngIf="showLogoUploader"
  [uploadType]="uploadType"
  (uploadEmit)="uploadPhoto($event, 'logo'); showLogoUploader = false"
  (closeEmit)="showLogoUploader = $event"
  [image]="fileImg"
></app-dialog-upload-image>
<div *ngIf="showActions" (click)="showActions = null" class="close-bg"></div>
