<div class="main-wrap">
  <div>
    <div class="text-center m-b-10">
      <img src="assets/svg-icon/logo-short-white.svg" alt="">
    </div>
    <nb-card class="auth-card m-b-40">
      <nb-card-body>
        <div class="fs-24 fw-500 m-b-10">
          Reset your Password
        </div>
        <div class="fs-15 m-b-60 color-secondary">
          Now you can reset password for you account
        </div>
        <form [formGroup]="myForm">
          <div class="inputs-row">
            <div class="input-wrap full-width">
              <div class="fs-15 m-b-5">
                New Password
              </div>
              <input type="password" [(ngModel)]="data.NewPassword" [ngClass]="{'error': myForm.controls['NewPassword'].invalid && !customValidation}"
                formControlName="NewPassword" nbInput fullWidth fieldSize="medium" placeholder="">
              <div *ngIf="myForm.controls['NewPassword'].invalid && !customValidation" class="error-lable">
                Field error (must have at least 6 character)
              </div>
            </div>
          </div>
          <div class="inputs-row">
            <div class="input-wrap full-width">
              <div class="fs-15 m-b-5">
                Confirm Password
              </div>
              <input type="password" [(ngModel)]="data.RepeatPassword" [ngClass]="{'error': myForm.controls['RepeatPassword'].invalid && !customValidation}"
                formControlName="RepeatPassword" nbInput fullWidth fieldSize="medium" placeholder="">
              <div *ngIf="myForm.controls['NewPassword'].invalid && !customValidation" class="error-lable">
                Field error (passwords do not match)
              </div>
            </div>
          </div>
        </form>
        <div class="m-b-25">
          <button (click)="reset()" class="cust-button fw-400 fs-14" fullWidth nbButton status="success">
            Reset
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="text-center fs-11 color-white">
    ®2019 Walletly Business, All rights reserved. Termsand Privacy
  </div>
</div>