.card-info {
  width: 211px;
  height: 91px;
  border-radius: 6px;
  border: 1px solid #dee3e5;
  background-color: #ffffff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  .label {
    color: #afafb9;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .value {
    color: #323232;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
}
.select {
  width: 235px;
}
nb-calendar-range {
  position: absolute;
  z-index: 11;
  bottom: -250px;
  right: 0;
}
nb-card-body{
    overflow: visible !important;
}
.icon-calendar{
    position: absolute;
    right: 9px;
    top: 10px;
    pointer-events: none;
}