.input-icon {
  right: 8px;
  top: calc(50% - 9.5px);
  display: flex;
}
th {
  color: #afafb9;
  font-family: Poppins;
  // font-size: 16px;
  font-size: 14px;
  font-weight: 400;
  border-right: none !important;
  border-left: none !important;
}

td {
  color: #323232;
  font-family: Poppins;
  // font-size: 15px;
  font-size: 12px;
  font-weight: 400;
  border-right: none !important;
  border-left: none !important;
  overflow: visible;
}
