<div class="df jc-b m-b-15">
  <h1 class="m-t-0 m-b-0 fs-24 fw-600">
    <span *ngIf="!id">Create Campaign</span>
    <span *ngIf="id">Edit Campaign</span>
  </h1>
</div>
<nb-card>
  <nb-card-header class="non-border">What is your Marketing Objective</nb-card-header>
  <nb-card-body *ngIf="showLoader">
    <div class="loader-table">
      <img width="70px" src="assets/img/Loader2x.gif" alt="">
    </div>
  </nb-card-body>
  <nb-card-body *ngIf="!showLoader" class="p-0 p-b-10">
    <table class="m-b-40" [nbTreeGrid]="data" equalColumnsWidth>
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
        <td (click)="selectedSell = row.data[column].name; selectType(row.data[column].name)"
          [ngClass]="{'active-sell': (selectedSell === row.data[column].name && row.data[column].name), 'c-p': row.data[column].name, 'pe-n': !row.data[column].name}"
          nbTreeGridCell *nbTreeGridCellDef="let row" [ngStyle]="{'pointer-events': row.data[column].locked ? 'none' : 'auto'}">
          <div class="df ai-c">
            <img *ngIf="selectedSell === row.data[column].name" class="m-r-15" width="30px"
              src="assets/svg-icon/success-circle.svg" alt="">
            <img *ngIf="selectedSell !== row.data[column].name" class="m-r-15" width="30px"
              [src]="row.data[column].icon" alt="">
            <span>{{row.data[column].name}}</span>
            <img *ngIf="row.data[column].locked == true" src="assets/img/lockIcon.png" alt=""
            style="margin-left: auto">
          </div>
        </td>
      </ng-container>
    </table>
    <div *ngIf="selectedSell === 'Coupon in %'">
      <form [formGroup]="myForm">
        <div class="p-l-30 m-b-30" style="font-size: 25px">
          Campaign
        </div>
        <div class="p-l-60">
          <div class="row-input">
            <div class="lable">
              Campaign Name
            </div>
            <div class="value">
              <div class="pos-r full-width">
                <input [ngClass]="{'error': myForm.controls['campaignName'].invalid && !customValidation}"
                  formControlName="campaignName" type="text" [(ngModel)]="dataCoupon.name" nbInput fullWidth
                  fieldSize="small" placeholder="">
                <div *ngIf="myForm.controls['campaignName'].invalid && !customValidation" class="error-lable">
                  Field error (must have at least 1 character)
                </div>
              </div>
            </div>
          </div>
          <div class="row-input">
            <div class="lable">
              Description
            </div>
            <div class="value">
              <div class="pos-r full-width">
                <textarea [ngClass]="{'error': myForm.controls['description'].invalid && !customValidation}"
                  formControlName="description" [(ngModel)]="dataCoupon.desription" nbInput fullWidth
                  placeholder="Textarea"></textarea>
                <div *ngIf="myForm.controls['description'].invalid && !customValidation" class="error-lable">
                  Field error (must have at least 1 character)
                </div>
              </div>
            </div>
          </div>
          <div class="row-input">
            <div class="lable">
              Template
            </div>
            <div class="value">
              <div *ngIf="cards.length" class="pos-r full-width">
                <nb-select [ngClass]="{'error': myForm.controls['template'].invalid && !customValidation}"
                  formControlName="template" #select size="small" placeholder="Select Template"
                  [(selected)]="dataCoupon.card_id">
                  <nb-option *ngFor="let item of cards" value="{{item.id}}">
                    {{ item.template_name }}
                  </nb-option>
                </nb-select>
              </div>
              <div *ngIf="myForm.controls['template'].invalid && !customValidation" class="error-lable">
                Field error (make your choice)
              </div>
              <div *ngIf="noTemplates" class="error-lable fs-16">
                Please create Template First
                <a [routerLink]="[ '/main/templates/create-cards' ]" class="c-p">
                  (click here)
                </a>
              </div>
            </div>
          </div>
          <div class="row-input">
            <div class="lable">
              Start Date
            </div>
            <div class="value df ai-c">
              <div (clickOutside)="showDatePicker = false" class="pos-r m-r-34">
                <input [ngClass]="{'error': !dataCoupon.startDate && !customValidation}" formControlName="startDate"
                  class="small" (focus)="showDatePicker = true" [(ngModel)]="dataCoupon.startDate" type="text" nbInput
                  fullWidth fieldSize="small" placeholder="">
                <div *ngIf="!dataCoupon.startDate && !customValidation" class="error-lable">
                  Field error (make your choice)
                </div>
                <nb-calendar *ngIf="showDatePicker" (dateChange)="dateStartChange($event);" [(date)]="dateStart">
                </nb-calendar>
              </div>
              <div class="pos-r df">
                <div class="m-r-13 p-t-10">
                  End Date
                </div>
                <div (clickOutside)="showDatePickerEnd = false" class="pos-r">
                  <input [ngClass]="{'error': !dataCoupon.endDate && !customValidation}" formControlName="endDate"
                    class="small" (focus)="showDatePickerEnd = true" [(ngModel)]="dataCoupon.endDate" type="text" nbInput
                    fullWidth fieldSize="small" placeholder="">
                  <div *ngIf="!dataCoupon.endDate && !customValidation" class="error-lable">
                    Field error (make your choice)
                  </div>
                  <nb-calendar *ngIf="showDatePickerEnd" (dateChange)="dateEndChange($event);" [(date)]="dateEnd">
                  </nb-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-l-30 m-b-30 p-t-30" style="font-size: 25px; border-top: 2px solid #ebeff5;">
          Coupon
        </div>
        <div class="p-l-60">
          <div class="row-input">
            <div class="lable">
              Discount
            </div>
            <div class="value">
              <div class="pos-r full-width">
                <input [ngClass]="{'error': myForm.controls['discount'].invalid && !customValidation}"
                  formControlName="discount" [ngModel]="dataCoupon.discount" (ngModelChange)="changeDiscount($event)"
                  mask='00' class="small" type="text" nbInput fullWidth fieldSize="small" placeholder="" maxlength="2">
                <div *ngIf="myForm.controls['discount'].invalid && !customValidation" class="error-lable">
                  set discount
                </div>
              </div>
            </div>
          </div>
          <div class="row-input">
            <div class="lable">
              Set Limit
            </div>
            <div class="value">
              <div class="pos-r">
                <input placeholder="Optional"
                  [ngClass]="{'error': myForm.controls['setLimit'].invalid && !customValidation}"
                  formControlName="setLimit" class="small" [(ngModel)]="limit" (ngModelChange)="onChange()" max="100"
                  type="number" nbInput fullWidth fieldSize="small" placeholder="">
                <div *ngIf="myForm.controls['setLimit'].invalid && !customValidation" class="error-lable">
                  set maximum number of coupons that can be created
                </div>
              </div>
            </div>      
          </div>
          <div class="row-input">
            <div class="lable">
              Coupon Validity
            </div>
            <div class="value">
              <div class="pos-r">
                <input [ngClass]="{'error': myForm.controls['validity'].invalid && !customValidation}"
                formControlName="validity" class="small" nbInput fullWidth fieldSize="small" placeholder="" readonly
                style="background-color: #ebeff5;">
              </div>
            </div>      
          </div>
        </div>
      </form>
      <!-- <div *ngIf="myForm.invalid && !customValidation" class="row-input">
        <div class="lable">
        </div>
        <div class="value message-error" style="text-align: left;">
          Validation Error
        </div>
      </div> -->
      <div class="row-input">
        <div class="lable">
        </div>
        <div class="value">
          <div class="pos-r full-width">
            <button (click)="clear()" class="cust-button m-r-15" nbButton status="gray">
              Clear
            </button>
            <button *ngIf="!id && !noTemplates" (click)="create()" class="cust-button" nbButton status="success">
              Create
            </button>
            <button *ngIf="id" (click)="create()" class="cust-button" nbButton status="success">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<!-- <app-dialog-upgrade></app-dialog-upgrade> -->
