<div class="df jc-b m-b-15">
  <h1 class="m-t-0 m-b-0 fs-24 fw-600">
    ManyChat Templates
  </h1>
</div>
<div class="df">
  <div class="menu-wrap menu-inside">
    <nb-menu [items]="items" autoCollapse="true"></nb-menu>
  </div>
  <nb-card class="m-b-0">
    <nb-card-body>
      <div class="row">
        <div class="col-12 col-md-6 m-b-30">
          <div class="card-service">
            Customer Service <br>
            Template 1
          </div>
        </div>
        <div class="col-12 col-md-6 m-b-30">
          <div class="card-service">
            Customer Service <br>
            Template 2
          </div>
        </div>
        <div class="col-12 col-md-6 m-b-30">
          <div class="card-service">
            Customer Service <br>
            Template 3
          </div>
        </div>
        <div class="col-12 col-md-6 m-b-30">
          <div class="card-service">
            Customer Service <br>
            Template 4
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>