<div class="df jc-b m-b-15">
  <h1 class="m-t-0 m-b-0 fs-24 fw-600">
    ManyChat Templates
  </h1>
</div>
<nb-card>
  <nb-card-body>
    <div class="card-wrap">
      <a href="https://manychat.com/template/9084e073fa351080413af518c6d3464a364274ec" target="_blank">
        <div class="botcard">
          <div class="body">
            <img src="assets/img/Box-PNG/Basic Coupon And Follow Up.png" alt="">
          </div>
          <div class="foot">
            Basic Coupon And Follow Up
          </div>
        </div>
      </a>
      <a href="https://manychat.com/template/083c744b6265617986e89e8736a97360676eb2f6" target="_blank">
        <div class="botcard">
          <div class="body">
            <img src="assets/img/Box-PNG/Basic Event Ticket And Follow Up.png" alt="">
          </div>
          <div class="foot">
            Basic Event Ticket And Follow Up
          </div>
        </div>
      </a> 
      <a href="https://manychat.com/template/ccdf84238f7d5bebecf11740bb39acfd08e2dea8" target="_blank">
        <div class="botcard">
          <div class="body">
            <img src="assets/img/Box-PNG/Basic Loyalty Points Card And Follow Up.png" alt="">
          </div>
          <div class="foot">
            Basic Loyalty Points Card And Follow Up
          </div>
        </div>
      </a> 
      <a href="https://manychat.com/template/fb50da43d2d565c0d7d2cc9e75ce10f75d0ab0a5" target="_blank">
        <div class="botcard">
          <div class="body">
            <img src="assets/img/Box-PNG/Basic Stamp Card And Follow Up.png" alt="">
          </div>
          <div class="foot">
            Basic Stamp Card And Follow Up
          </div>
        </div>
      </a> 
      <a href="https://manychat.com/template/6fac3805a2c88000c678ae461d78efa27d6bab0c" target="_blank">
        <div class="botcard">
          <div class="body">
            <img src="assets/img/Box-PNG/Basic Multi-Coupon And Follow Up.png" alt="">
          </div>
          <div class="foot">
            Basic Multi Coupon And Follow up
          </div>
        </div>
      </a> 
      <a href="https://manychat.com/template/654001cd809f1af9912223f71bc17c11b0c0251a" target="_blank">
        <div class="botcard">
          <div class="body">
            <img src="assets/img/Box-PNG/Basic Walletly Webinar.png" alt="">
          </div>
          <div class="foot">
            Basic Wallelty webinar
          </div>
        </div>
      </a> 
      <a href="https://manychat.com/template/31e31cd295273574cc44ebaa3283aebdecc1a931" target="_blank">
        <div class="botcard">
          <div class="body">
            <img src="assets/img/Box-PNG/Basic Membership, Follow Up And Activation Status.png" alt="">
          </div>
          <div class="foot">
            Basic Membership Card, follow up And activation status
          </div>
        </div>
      </a> 
    </div>
  </nb-card-body>
</nb-card>