<div class="df jc-b m-b-15">
  <h1 class="m-t-0 m-b-0 fs-24 fw-600">
    ManyChat Templates
  </h1>
</div>
<nb-card class="m-b-0">
  <nb-card-body>
    <div class="row">
      <div class="col-4">
        <div class="card-item">
          <div class="icon">
            <img
              src="assets/svg-icon/template-icons/circle/acquisition.svg"
              alt=""
            />
          </div>
          <div class="title">
            Customer acquisition
          </div>
          <div class="desc">
            Perfect for delivering coupons and gift cards.
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card-item">
          <div class="icon">
            <img
              src="assets/svg-icon/template-icons/circle/loyalty.svg"
              alt=""
            />
          </div>
          <div class="title">
            Customer loyalty
          </div>
          <div class="desc">
            Perfect for getting customers to join your store store loyalty
            program. Stamp, points or membership based.
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card-item">
          <div class="icon">
            <img
              src="assets/svg-icon/template-icons/circle/referral.svg"
              alt=""
            />
          </div>
          <div class="title">
            Customer referral
          </div>
          <div class="desc">
            If you want to you current customer base to share a coupon to there
            friends and then after the use of the coupon to reward your original
            customer.
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card-item">
          <div class="icon">
            <img
              src="assets/svg-icon/template-icons/circle/table-booking.svg"
              alt=""
            />
          </div>
          <div class="title">
            Table booking
          </div>
          <div class="desc">
            Perfect for if you are trying to push group table bookings.
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card-item">
          <div class="icon">
            <img
              src="assets/svg-icon/template-icons/circle/card-delivery.svg"
              alt=""
            />
          </div>
          <div class="title">
            Business card delivery
          </div>
          <div class="desc">
            Perfect for when you are going to a conference and want get your
            potential clients details.
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<!-- <div class="df">
  <div class="menu-wrap menu-inside">
    <nb-menu [items]="items" autoCollapse="true"></nb-menu>
  </div>
  <nb-card class="m-b-0">
    <nb-card-body>
      <div class="row">
        <div class="col-12 col-md-6 m-b-30">
          <div class="card-service">
            Customer Service <br>
            Template 1
          </div>
        </div>
        <div class="col-12 col-md-6 m-b-30">
          <div class="card-service">
            Customer Service <br>
            Template 2
          </div>
        </div>
        <div class="col-12 col-md-6 m-b-30">
          <div class="card-service">
            Customer Service <br>
            Template 3
          </div>
        </div>
        <div class="col-12 col-md-6 m-b-30">
          <div class="card-service">
            Customer Service <br>
            Template 4
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div> -->
