.menu-wrap {
  margin-right: 19px;
  width: 222px;
  min-width: 222px;
  border-radius: 5px;
  border: 1px solid #dee3e5;
  border-top: none;
  height: fit-content;
}
nb-card {
  margin-bottom: 0;
  width: 100%;
  box-shadow: 0 0 16px rgba(87, 86, 90, 0.08) !important;
  border-radius: 5px !important;
  background-color: #ffffff;
  nb-card-body {
    padding: 34px;
  }
}
.card-service {
  min-height: 327px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #979797;
  background-color: rgba(175, 175, 185, 0.26);
  text-align: center;
}
.card-item {
  border-radius: 5px;
  border: 1px solid #dee3e5;
  background-color: #ffffff;
  padding: 42px 20px 20px 20px;
  text-align: center;
  height: 300px;
  margin-bottom: 15px;
  cursor: pointer;
  .icon {
    margin-bottom: 20px;
  }
  .title {
    color: #323232;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .desc {
    color: #afafb9;
    font-size: 14px;
    font-weight: 400;
  }
}
