.main-caption {
  font-weight: 700;
  font-size: 37px;
}
.description {
  color: #ababab;
  margin: 20px 0;
}
.col {
  padding-right: 45px;
  padding-left: 45px;
}
.col-baner {
  padding-right: 0;
}
.card-info {
  width: 211px;
  height: 91px;
  border-radius: 6px;
  border: 1px solid #dee3e5;
  background-color: #ffffff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  .label {
    color: #afafb9;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .value {
    color: #323232;
    font-size: 28px;
    font-weight: 600;
  }
}
.select{
    width: 235px;
}
nb-calendar {
  position: absolute;
  z-index: 11;
  top: 40px;
  right: 0;
}
.loader{
  position: absolute;
  margin-left: 35%;
  margin-top: 15%;
}