<div *ngIf="showGraph == 1" class="df jc-b m-b-15">
  <h1 class="m-t-0 m-b-0 fs-24 fw-600">
    Dashboard
  </h1>
  <div class="loader">
    <img width="100px" src="assets/img/Loader2x.gif" alt="">
  </div>
</div>

<div *ngIf="showGraph == 2">
  <div class="df jc-b m-b-15">
    <h1 class="m-t-0 m-b-0 fs-24 fw-600">
      Dashboard
    </h1>
  </div>
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12 col-lg-6 col col-12">
          <h1 class="main-caption">
            Getting Started <br>
            Walletly
          </h1>
          <p class="description">
            Start your journey by creating your first template below.
          </p>
          <div>
            <button [routerLink]="[ '/main/templates/create-cards' ]" class="cust-button" nbButton status="success">
              Create Walletly Card
            </button>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col col-12 p-l-0">
          <!-- <div class="video-wrap">
            <video>
              Browser not supported
            </video>
            <div class="play">
              <span></span>
            </div>
          </div> -->
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <div class="wistia_embed wistia_async_rsly2pctif videoFoam=true" style="height:100%;position:relative;width:100%">
                <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                  <img src="https://fast.wistia.com/embed/medias/rsly2pctif/swatch
                            https://fast.wistia.com/embed/medias/rsly2pctif/swatch"
                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                            alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12 col-lg-6 col col-12">
          <h1>
            Walletly dashboard
          </h1>
          <p class="description">
            Your dashboard will soon appear after coupons are created for your campaigns.<br><br>
            This information will help you make clear decisive decisions, 
            start your first campaign by creating a template.
          </p>
          <p class="description">
            Use the button above to start your journey.
          </p>
        </div>
        <div class="col-md-12 col-lg-6 col col-baner col-12">
          <img width="100%" style="margin-left: 5px;" src="assets/img/charts.jpg"
            alt="">
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<div *ngIf="showGraph == 3">
  <div class="df jc-b m-b-15">
    <h1 class="m-t-0 m-b-0 fs-24 fw-600 m-r-22">
      Dashboard
    </h1>
    <!-- <div class="row-input">
      <div class="value df ai-c">
        <div (clickOutside)="showDatePickerStart = false" class="pos-r m-r-34">
          <input
            class="small" (focus)="showDatePickerStart = true" [(ngModel)]="startDate" type="text" nbInput
            fullWidth fieldSize="small" placeholder="start date" readonly>
          <nb-calendar *ngIf="showDatePickerStart" (dateChange)="dateStartChange($event);" [(date)]="dateStart">
          </nb-calendar>
        </div>
        <div class="pos-r df">
          <div (clickOutside)="showDatePickerEnd = false" class="pos-r">
            <input
              class="small" (focus)="showDatePickerEnd = true" [(ngModel)]="endDate" type="text" nbInput
              fullWidth fieldSize="small" placeholder="end date" readonly>
            <nb-calendar *ngIf="showDatePickerEnd" (dateChange)="dateEndChange($event);" [(date)]="dateEnd">
            </nb-calendar>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <nb-card>
    <nb-card-body>
      <div class="m-b-20 fs-18">
        COUPONS INFORMATION
      </div>
      <div class="df wrap jc-b">
        <div class="card-info">
          <div class="label">
            Total Coupons Created
          </div>
          <div class="value">
            {{total_coupons_created}}
          </div>
        </div>
        <div class="card-info">
          <div class="label">
            Total Redeemed
          </div>
          <div class="value">
            {{total_redeems}}
          </div>
        </div>
        <div class="card-info">
          <div class="label">
            Total Unredeemed
          </div>
          <div class="value">
            {{unredeemed}}
          </div>
        </div>
        <div class="card-info">
          <div class="label">
            Avg. Coupons Redeems
          </div>
          <div class="value">
            {{avg_coupon_redeems}}
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="row">
    <div class="col-12 col-md-12">
      <nb-card>
        <nb-card-body>
          <div class="m-b-20 fs-18">
            Coupons By Campaigns
          </div>
          <canvas id="myChart1" width="400" height="100"></canvas>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-12 col-md-6">
      <nb-card>
        <nb-card-body >
          <div class="m-b-20 fs-18">
            Redeemed vs Unredeemed Coupons Of Brand
          </div>
          <canvas id="myChart2" width="400" height="200"></canvas>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-12 col-md-6">
      <nb-card>
        <nb-card-body>
          <div class="m-b-20 fs-18">
            Earning By Campaigns
          </div>
          <canvas id="myChart3" width="400" height="200"></canvas>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>