.input-icon {
  right: 8px;
  top: calc(50% - 9.5px);
  display: flex;
}
th {
  color: #afafb9;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  border-right: none !important;
  border-left: none !important;
}
td {
  color: #323232;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  border-right: none !important;
  border-left: none !important;
  overflow: visible;
}
.active {
  width: 91px;
  height: 33px;
  padding: 1px;
  border-radius: 100px;
  border: 2px solid #f4f3fa;
  display: inline-flex;
  align-items: center;
  color: #8dbf2d;
  font-size: 15px;
  font-weight: 400;
  .circle {
    width: 27px;
    height: 27px;
    background-color: #8dbf2d;
    margin-right: 5px;
    border-radius: 100px;
  }
}
.expired {
  display: inline-flex;
  align-items: center;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  padding-left: 7px;
  .circle {
    width: 17px;
    height: 17px;
    background-color: #f1737e;
    margin-right: 5px;
    border-radius: 100px;
  }
}
nb-card {
  min-height: calc(100% - 100px);
}