th {
  color: #afafb9;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  border-right: none !important;
  border-left: none !important;
}
td {
  color: #323232;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  border-right: none !important;
  border-left: none !important;
  overflow: visible;
}

.header {
  max-width: 1050px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.container-profile {
  max-width: 900px;
  margin: auto;
}
.user {
  display: flex;
  align-items: center;
  position: relative;
  color: #2a2a2a;
  font-size: 18px;
  font-weight: 500;
  .icon {
    margin-right: 10px;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &.w-80 {
      width: 80px;
      min-width: 80px;
      height: 80px;
    }
    img {
      width: 100%;
    }
  }
}
.subs-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 100px;
  width: 60px;
  color: white;
  text-transform: uppercase;
  background: #d3d7d9;
  &.pro {
    background: #4ca6ff;
  }
}
.status {
  color: #40dc7e;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 2px 10px;
  border: 1px solid #ebeef2;
  border-radius: 100px;
  text-transform: capitalize;
  i {
    font-size: 25px;
    font-weight: 900;
  }
}
.user-drb {
  box-shadow: 0 0 16px rgba(87, 86, 90, 0.08) !important;
  border-radius: 5px !important;
  background: white;
  position: absolute;
  top: calc(100% + 20px);
  width: 400px;
  right: 0;
  z-index: 11;
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 10px;
    border-bottom: 1px solid #ebeef2;
    margin-bottom: 20px;
    font-size: 16px;
    .icon {
      img {
        transform: rotate(90deg);
        width: 20px;
      }
    }
  }
  .body {
    padding: 20px;
    padding-top: 0;
  }
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -9px;
    right: 50px;
  }
}
.color-link {
  color: #4ca6ff !important;
}
.input-email {
  display: flex;
  align-items: center;
  button {
    height: 43px;
    margin-left: 10px;
    border-radius: 5px !important;
  }
}
