nb-card {
    box-shadow: 0 0 16px rgba(87, 86, 90, 0.08);
    border-radius: 5px;
    background-color: #ffffff;
    & nb-card-body{
      overflow: hidden;
      padding: 0;
    }
  }
nb-tab{
  overflow: hidden !important;
}
.input-wrap {
  display: flex;
  margin-bottom: 30px;
  .lable {
    width: 90px;
    min-width: 90px;
    font-size: 15px;
    font-weight: 400;
    padding-top: 7px;
    color: #323232;
  }
  .value {
    width: 100%;
    max-width: 380px;
    .icon-input {
      position: absolute;
      right: 1px;
      top: 1px;
      width: 38px;
      height: 37px;
      border-radius: 0 5px 5px 0;
      background-color: #f4f3fa;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
.qr-wrap {
  width: 360px;
  box-shadow: 0 0 16px rgba(87, 86, 90, 0.08);
  border-radius: 4px;
  border: 1px solid #dee3e5;
  background-color: #ffffff;
  .refresh-icon {
    position: absolute;
    bottom: 24px;
    right: 4px;
    cursor: pointer;
    z-index: 111;
  }
  .qr {
    position: absolute;
    width: 100%;
  }
  .foot {
    border-top: 1px solid #dee3e5;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 142px;
      height: 44px;
      border-radius: 8px;
      background-color: #323232;
      color: #ffffff;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
.History{
  border-top: 2px solid #ebeff5;
  padding: 30px 15px 40px 20px;
}

table {
  width: auto;
  border-left: 1px solid #ebeef2;
  border-right: 1px solid #ebeef2;
}

nb-tab[tabTitle = 'Push Notification']{
  th {
    color: #afafb9;
    font-family: Poppins;
    // font-size: 16px;
    font-size: 14px;
    font-weight: 400;
    border-right: none !important;
    border-left: none !important;
    &:first-child {
      padding: 0 !important;
      padding-left: 30px !important;
      width: 340px;
    }
    &:nth-child(2) {
        width: 20%;
        padding-left: 0;
    }
    // &:nth-child(6) {
    //     width: 100px;
    //     padding-left: 0;
    // }
    // &:nth-child(1) {
    //     width: 110px;
    //     padding-right: 0;
    // }
    &:nth-child(3) {
      text-align: center;
    }
    &:nth-child(4) {
      text-align: center;
    }
    &:nth-child(5) {
      text-align: center;
    }
    &:nth-child(6) {
      text-align: center;
    }
}

td {
    color: #323232;
    font-family: Poppins;
    // font-size: 15px;
    font-size: 12px;
    font-weight: 400;
    border-right: none !important;
    border-left: none !important;
    overflow: visible;
    &:first-child {
      padding: 0 !important;
      padding-left: 30px !important;
      width: 340px;
    }
    // &:last-child {
    //     width: 100px;
    //     padding-left: 0;
    // }
    &:nth-child(2) {
        width: 20%;
        padding-left: 0;
    }
}
}
nb-tab[tabTitle = 'iBeacon']{
  th {
    color: #afafb9;
    font-family: Poppins;
    // font-size: 16px;
    font-size: 14px;
    font-weight: 400;
    border-right: none !important;
    border-left: none !important;
    &:first-child{
      width: 160px;
    }
  }

  td {
    color: #323232;
    font-family: Poppins;
    // font-size: 15px;
    font-size: 12px;
    font-weight: 400;
    border-right: none !important;
    border-left: none !important;
    overflow: visible;
    &:first-child{
      width: 160px;
    }
  }
}
nb-tab[tabTitle = 'Location Base']{
  th {
    color: #afafb9;
    font-family: Poppins;
    // font-size: 16px;
    font-size: 14px;
    font-weight: 400;
    border-right: none !important;
    border-left: none !important;
  }

  td {
    color: #323232;
    font-family: Poppins;
    // font-size: 15px;
    font-size: 12px;
    font-weight: 400;
    border-right: none !important;
    border-left: none !important;
    overflow: visible;
  }
}
nb-tab[tabTitle = 'Location Base'] .Log-table{
  th:first-child{
    width: 160px;
  }
  td:first-child{
    width: 160px;
  }
}
button {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  outline: none;
  margin-right: 20px;
  height: 45px;
  min-width: 100px;
  color: white;
  &.clear {
    background: rgb(211, 215, 217);
    &:hover{
      color: #fff;
      background-color: rgb(223, 225, 226);
      border-color: transparent;
    }
    &:focus{
      color: #fff;
      background-color: rgb(223, 225, 226);
      border-color: transparent;
      box-shadow: none;
    }
    &:active{
      color: #fff;
      background-color: rgb(201, 204, 206);
      border-color: transparent;
      box-shadow: none;
    }
  }
}
