<h1 class="m-t-0">
  <span *ngIf="!id">Create </span> <span *ngIf="id">Update </span>
  <span class="text-capitalize"> {{ type }} </span>
  Template
</h1>

<nb-card>
  <nb-card-body>
    <div *ngIf="showLoader" class="loader-table">
      <img width="70px" src="assets/img/Loader2x.gif" alt="" />
    </div>
    <div *ngIf="!showLoader" class="row">
      <div class="col-lg-7 col-md-12 col-12">
        <nb-accordion>
          <nb-accordion-item #accordionFront>
            <nb-accordion-item-header>
              Card Front
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div *ngIf="dataCard" class="input-wrapper">
                <form [formGroup]="myFormFront">
                  <div class="row-input">
                    <div class="lable">
                      Template Name
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input
                          [ngClass]="{
                            error:
                              myFormFront.controls['TemplateName'].invalid &&
                              !customValidationFront
                          }"
                          formControlName="TemplateName"
                          [(ngModel)]="dataCard.templateName"
                          type="text"
                          nbInput
                          fullWidth
                          fieldSize="medium"
                          placeholder=""
                        />
                        <div
                          *ngIf="
                            myFormFront.controls['TemplateName'].invalid &&
                            !customValidationFront
                          "
                          class="error-lable"
                        >
                          Field error (must have at least 1 character)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Brand Name
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input
                          [ngClass]="{
                            error:
                              myFormFront.controls['brandName'].invalid &&
                              !customValidationFront
                          }"
                          formControlName="brandName"
                          [(ngModel)]="dataCard.brandName"
                          type="text"
                          nbInput
                          fullWidth
                          fieldSize="medium"
                          placeholder=""
                        />
                        <div
                          *ngIf="
                            myFormFront.controls['brandName'].invalid &&
                            !customValidationFront
                          "
                          class="error-lable"
                        >
                          Field error (must have at least 1 character)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Brand Logo
                    </div>
                    <div class="value">
                      <div *ngIf="dataCard.brandLogo" class="pos-r">
                        <div class="brand">
                          <img [src]="dataCard.brandLogo" alt="" />
                        </div>
                        <div (click)="deleteImg('photoLogo')" class="close">
                          <i class="nb-plus"></i>
                        </div>
                      </div>
                      <div *ngIf="!dataCard.brandLogo">
                        <label
                          [ngClass]="{
                            error:
                              (myFormFront.controls['brandLogo'].invalid &&
                                !customValidationFront) ||
                              !brandSizeValidation
                          }"
                          class="c-p file-lable"
                          size="xsmall"
                          nbButton
                          hero
                          status="info"
                        >
                          <input
                            formControlName="brandLogo"
                            hidden
                            type="file"
                            (change)="uploadLogo($event)"
                            accept="image/*"
                          />
                          Load image
                        </label>
                      </div>
                      <div
                        class="color-danger m-t-15"
                        *ngIf="!brandSizeValidation"
                      >
                        Wrong image size
                      </div>
                      <div
                        class="color-danger m-t-15"
                        *ngIf="
                          myFormFront.controls['brandLogo'].invalid &&
                          !customValidationFront
                        "
                      >
                        Upload image
                      </div>
                      <div class="color-secondary fs-10 m-t-15">
                        The best image size in pixels: 63x63. File size limit:
                        1MB
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Cover Image
                    </div>
                    <div class="value">
                      <div *ngIf="dataCard.coverImage" class="pos-r">
                        <div>
                          <img
                            width="100%"
                            [src]="dataCard.coverImage"
                            alt=""
                          />
                        </div>
                        <div (click)="deleteImg('photoCover')" class="close">
                          <i class="nb-plus"></i>
                        </div>
                      </div>
                      <div *ngIf="!dataCard.coverImage">
                        <label
                          [ngClass]="{
                            error:
                              (myFormFront.controls['coverImage'].invalid &&
                                !customValidationFront) ||
                              !coverSizeValidation
                          }"
                          class="c-p file-lable"
                          size="xsmall"
                          nbButton
                          hero
                          status="info"
                        >
                          <input
                            formControlName="coverImage"
                            hidden
                            type="file"
                            (change)="uploadCover($event)"
                            accept="image/*"
                          />
                          Load image
                        </label>
                      </div>
                      <div
                        class="color-danger m-t-15"
                        *ngIf="!coverSizeValidation"
                      >
                        Wrong image size
                      </div>
                      <div
                        class="color-danger m-t-15"
                        *ngIf="
                          myFormFront.controls['coverImage'].invalid &&
                          !customValidationFront
                        "
                      >
                        Upload image
                      </div>
                      <div class="color-secondary fs-10 m-t-7">
                        The best image size in pixels: 750x288. File size limit:
                        4MB
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item #accordionBack>
            <nb-accordion-item-header>
              Card Back
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div *ngIf="dataCard" class="input-wrapper">
                <form [formGroup]="myFormBack">
                  <div class="row-input">
                    <div class="lable">
                      Description
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <textarea
                          [ngClass]="{
                            error:
                              myFormBack.controls['description'].invalid &&
                              !customValidationBack
                          }"
                          formControlName="description"
                          [(ngModel)]="dataCard.description"
                          nbInput
                          fullWidth
                          placeholder="Textarea"
                        ></textarea>
                        <div
                          *ngIf="
                            myFormBack.controls['description'].invalid &&
                            !customValidationBack
                          "
                          class="error-lable"
                        >
                          Field error (must have at least 1 character)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      More Info
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <textarea
                          [ngClass]="{
                            error:
                              myFormBack.controls['moreInfo'].invalid &&
                              !customValidationBack
                          }"
                          formControlName="moreInfo"
                          [(ngModel)]="dataCard.moreInfo"
                          nbInput
                          fullWidth
                          placeholder="Textarea"
                        ></textarea>
                        <div
                          *ngIf="
                            myFormBack.controls['moreInfo'].invalid &&
                            !customValidationBack
                          "
                          class="error-lable"
                        >
                          Field error (must have at least 1 character)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Location
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input
                          [ngClass]="{
                            error:
                              myFormBack.controls['location'].invalid &&
                              !customValidationBack
                          }"
                          formControlName="location"
                          [(ngModel)]="dataCard.location"
                          class="color-link"
                          type="text"
                          nbInput
                          fullWidth
                          fieldSize="medium"
                          placeholder=""
                        />
                        <div
                          *ngIf="
                            myFormBack.controls['location'].invalid &&
                            !customValidationBack
                          "
                          class="error-lable"
                        >
                          Field error (enter your location)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Phone
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input
                          [ngClass]="{
                            error:
                              myFormBack.controls['phone'].invalid &&
                              !customValidationBack
                          }"
                          formControlName="phone"
                          [(ngModel)]="dataCard.phone"
                          type="text"
                          nbInput
                          fullWidth
                          fieldSize="medium"
                          placeholder=""/>
                        <div
                          *ngIf="
                            myFormBack.controls['phone'].invalid &&
                            !customValidationBack
                          "
                          class="error-lable"
                        >
                          Field error (must have at least 5 digits of phone
                          number)
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Email
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input
                          [ngClass]="{
                            error:
                              myFormBack.controls['email'].invalid &&
                              !customValidationBack
                          }"
                          formControlName="email"
                          [(ngModel)]="dataCard.email"
                          type="text"
                          nbInput
                          fullWidth
                          fieldSize="medium"
                          placeholder=""
                        />
                        <div
                          *ngIf="
                            myFormBack.controls['email'].invalid &&
                            !customValidationBack
                          "
                          class="error-lable"
                        >
                          Field error (for example: "user@mail.com")
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Website
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input
                          [ngClass]="{
                            error:
                              myFormBack.controls['website'].invalid &&
                              !customValidationBack
                          }"
                          formControlName="website"
                          [(ngModel)]="dataCard.website"
                          class="color-link"
                          type="text"
                          nbInput
                          fullWidth
                          fieldSize="medium"
                          placeholder=""
                        />
                        <div
                          *ngIf="
                            myFormBack.controls['website'].invalid &&
                            !customValidationBack
                          "
                          class="error-lable"
                        >
                          Field error (for example: "http://www.website.com")
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-input">
                    <div class="lable">
                      Facebook
                    </div>
                    <div class="value">
                      <div class="pos-r full-width">
                        <input
                          [ngClass]="{
                            error:
                              myFormBack.controls['facebook'].invalid &&
                              !customValidationBack
                          }"
                          formControlName="facebook"
                          [(ngModel)]="dataCard.facebook"
                          class="color-link"
                          type="text"
                          nbInput
                          fullWidth
                          fieldSize="medium"
                          placeholder=""
                        />
                        <div
                          *ngIf="
                            myFormBack.controls['facebook'].invalid &&
                            !customValidationBack
                          "
                          class="error-lable"
                        >
                          Field error (for example: "www.facebook.com/user")
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>

        <div class="m-t-14">
          <button
            (click)="clear()"
            class="cust-button m-r-15"
            nbButton
            status="gray"
          >
            Clear
          </button>
          <button
            *ngIf="!id"
            [disabled]="inProcces"
            (click)="create()"
            class="cust-button"
            nbButton
            status="success"
          >
            <i *ngIf="inProcces" class="fas fa-spinner fa-pulse"></i>
            Create
          </button>
          <button
            *ngIf="id"
            [disabled]="inProcces"
            (click)="update()"
            class="cust-button"
            nbButton
            status="success"
          >
            <i *ngIf="inProcces" class="fas fa-spinner fa-pulse"></i>
            Update
          </button>
        </div>
      </div>
      <div *ngIf="dataCard" class="col-lg-5 col-md-12 col-12">
        <div
          class="flip-card"
          [ngClass]="{ active: accordionFront.collapsedValue }"
        >
          <div class="flip-card-inner">
            <div [ngClass]="{'smart-hidden': accordionFront.collapsedValue}" class="flip-card-front">
              <div class="coupon">
                <div class="head m-b-15">
                  <div class="df ai-c">
                    <div class="coupon-brand m-r-8">
                      <img [src]="dataCard.brandLogo" alt="" />
                    </div>
                    <div class="fs-18 fw-700">
                      {{ dataCard.brandName }}
                    </div>
                  </div>
                  <div
                    *ngIf="dataCard.cardType === 'coupons'"
                    class="text-right"
                  >
                    <div class="fs-10 fw-400">
                      Days left
                    </div>
                    <div class="fs-15 fw-600">
                      30
                    </div>
                  </div>
                  <div *ngIf="dataCard.cardType === 'cards'" class="text-right">
                    <div class="fs-10 fw-400">
                      Point
                    </div>
                    <div class="fs-15 fw-600">
                      100
                    </div>
                  </div>
                  <div
                    *ngIf="dataCard.cardType === 'tickets'"
                    class="text-right"
                  >
                    <div class="fs-10 fw-400">
                      Stamp
                    </div>
                    <div class="fs-15 fw-600">
                      4
                    </div>
                  </div>
                </div>
                <div class="m-b-16 df jc-c">
                  <img class="cover-image" [src]="dataCard.coverImage" alt="" />
                </div>
                <div class="df jc-b color-white fw-11 fw-400 p-l-15 p-r-15">
                  <div>
                    CUSTOMER
                  </div>
                  <div *ngIf="dataCard.cardType === 'coupons'">
                    DISCOUNT
                  </div>
                </div>
                <div
                  class="df jc-b color-white fw-16 fw-600 m-b-50 p-l-15 p-r-15"
                >
                  <div>
                    {{ "{Dynamic}" }}
                  </div>
                  <div *ngIf="dataCard.cardType === 'coupons'">
                    {{ "{Dynamic}" }}
                  </div>
                </div>
                <div class="text-center">
                  <img
                    width="133px"
                    class="m-b-20"
                    src="assets/img/QR_code.png"
                    alt=""
                  />
                </div>
                <div class="combined">
                  <img src="assets/svg-icon/Combined_Shape.svg" alt="" />
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="coupon-back">
                <div class="head">
                  <div class="text-right c-p color-link">
                    Done
                  </div>
                  <div class="df">
                    <div class="m-r-25 df ai-e">
                      <img src="assets/svg-icon/coupon-back-icon.svg" alt="" />
                    </div>
                    <div>
                      <div class="color-dark fs-17 fw-700">
                        Discount Coupon
                      </div>
                      <div class="color-secondary fs-11">
                        Update 1 min ago
                      </div>
                    </div>
                  </div>
                </div>
                <div class="toggle-row">
                  <div class="lable">
                    Automatic Updates
                  </div>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="toggle-row">
                  <div class="lable">
                    Suggest on lock screen
                  </div>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="m-t-11 m-b-9 p-l-16 p-r-16 fs-13 color-secondary-2">
                  Show based on time or location.
                </div>
                <div class="p-l-16 p-r-3 bg-white">
                  <div class="info-row">
                    <div class="info-head">
                      📃Description
                    </div>
                    <div>
                      {{ dataCard.description }}
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-head">
                      🔖More info
                    </div>
                    <div>
                      {{ dataCard.moreInfo }}
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-head">
                      📍Location
                    </div>
                    <div>
                      <a class="color-link" href="">{{ dataCard.location }}</a>
                    </div>
                  </div>
                  <div class="info-row">
                    <div class="info-head">
                      📞 Phone
                    </div>
                    <div>{{ dataCard.phone }}</div>
                  </div>
                  <div class="info-row">
                    <div class="info-head">
                      ✉Email
                    </div>
                    <div>
                      {{ dataCard.email }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<app-dialog-upload-image
  *ngIf="showLogoUploader"
  [uploadType]="uploadType"
  (uploadEmit)="uploadPhoto($event, 'logo'); showLogoUploader = false"
  (closeEmit)="showLogoUploader = $event"
  [image]="fileImg"
></app-dialog-upload-image>
<app-dialog-upload-image
  *ngIf="showBrandUploader"
  [uploadType]="uploadType"
  (uploadEmit)="uploadPhoto($event, 'cover'); showBrandUploader = false"
  (closeEmit)="showBrandUploader = $event"
  [image]="fileImg"
></app-dialog-upload-image>
