<div class="df jc-b m-b-15">
  <h1 class="m-t-0 m-b-0 fs-24 fw-600">
    Generate Chatbot QR
  </h1>
</div>
<nb-card class="m-b-0">
  <nb-card-body>
    <div class="df jc-b">
      <div class="full-width">
        <form [formGroup]="myForm">
          <div class="input-wrap">
            <div class="lable">
              Bot Ref URL
            </div>
            <div class="value">
              <input [(ngModel)]="chatBotQr.botRefURL" [ngClass]="{'error': myForm.controls['botRefURL'].invalid && !customValidation}"
                formControlName="botRefURL" placeholder="m.me/2201211773478769" class="small" type="text" nbInput
                fullWidth fieldSize="small">
            </div>
          </div>
          <div class="input-wrap">
            <div class="lable">
              Background image
            </div>
            <div class="value pos-r">
              <div (click)="file.click()" class="custome-input-field df ai-c c-p" [ngClass]="{'error': myForm.controls['backgroundImage'].invalid && !customValidation}">
                {{chatBotQr.backgroundImage}}
              </div>
              <label class="icon-input">
                <img src="assets/img/upload.png" alt="">
                <input #file hidden [(ngModel)]="chatBotQr.backgroundImage" formControlName="backgroundImage" type="file">
              </label>
            </div>
          </div>
          <div class="input-wrap">
            <div class="lable">
              Size (PX)
            </div>
            <div class="value">
              <nb-select #select [(ngModel)]="chatBotQr.size" [ngClass]="{'error': myForm.controls['size'].invalid && !customValidation}"
                formControlName="size" size="small" placeholder="Select Size" [(selected)]="selectedItem">
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
              </nb-select>
            </div>
          </div>
        </form>
        <div class="input-wrap m-b-80">
          <div class="lable">
            Extra options
          </div>
          <div class="value">
            <div class="m-b-12">
              <nb-checkbox [(ngModel)]="chatBotQr.margin" class="custome-ceckbox">White margin</nb-checkbox>
            </div>
            <div>
              <nb-checkbox [(ngModel)]="chatBotQr.color" class="custome-ceckbox">Auto color (override dark and light
                color)</nb-checkbox>
            </div>
          </div>
        </div>
        <div class="input-wrap">
          <div class="lable">
          </div>
          <div class="value">
            <button (click)="clear()" class="cust-button m-r-15" nbButton status="gray">
              Clear
            </button>
            <button (click)="generate()" class="cust-button" nbButton status="success">
              Generate
            </button>
          </div>
        </div>
      </div>
      <div class="qr-wrap">
        <div class="body">
          <div class="pos-r">
            <img width="100%" src="assets/img/Screenshot_2019-04-15_at_6.07.03_PM.png" alt="">
            <img class="refresh-icon" src="assets/svg-icon/refresh.svg" alt="">
          </div>
        </div>
        <div class="foot">
          <button>
            Download
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>