<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeDeleteBox($event)">&times;</span>
    <p style="pointer-events: none;">Are you sure you want to delete this user ?</p>
    <div style="margin-left: 155px; margin-top: 20px;">
    <button class="modalButton" (click)="delete()">Yes</button>
    <button class="modalButton" (click)="closeDeleteBox($event)">No</button>
    </div>
  </div>

</div>
<div class="df jc-b m-b-15">
  <h1 class="m-t-0 m-b-0 fs-24 fw-600">
    Business
  </h1>
  <div *ngIf="data.length">
    <button [routerLink]="[ '/main/business/create-business' ]" class="cust-button" nbButton status="success">
      + Add User
    </button>
  </div>
</div>
<nb-card>
  <nb-card-body>
    <div *ngIf="showLoader" class="loader-table">
      <img width="70px" src="assets/img/Loader2x.gif" alt="">
    </div>
    <nb-tabset  *ngIf="!showLoader" class="tabs-card">
      <nb-tab tabTitle="Business Users">
        <div *ngIf="data.length" class="check-all-wrap">
          <div class="all">
            <nb-checkbox [(ngModel)]="checkAll">All</nb-checkbox>
          </div>
          <div (click)="inviteAll()" class="invite">
            <img src="assets/img/mail-icon.png" alt="">
            Invite All
          </div>
          <a href="https://scan.walletly.ai/" target="_blank"
            style="
              margin-left: auto;
              margin-right: 0px;
              font-size: 16px;
              border: 1px solid #dee3e5;
              border-radius: 5px;
              padding: 5px 5px 5px 30px;
              background-image: url(assets/img/logo.png);
              background-size: contain;
              background-repeat: no-repeat;
              color: #2a2a2a;
            "
          >
            WalletScan
          </a>
          <div (click)="refresh()" class="refresh m-l-10">
            <img src="assets/svg-icon/refresh-Btn.svg" alt="">
            Refresh
          </div>
        </div>
        <div class="box-container">

          <table *ngIf="data.length" class="m-b-40" [nbTreeGrid]="data"
            style="width: 100%; border-right: 1px solid #dee3e5; border-left: 1px solid #dee3e5;">
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

            <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
              <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                <span *ngIf="column !== 'Check'">
                  {{column}}
                </span>
              </th>
              <td [ngClass]="{'check-row-bg': checkAll}" nbTreeGridCell *nbTreeGridCellDef="let row; index as i">

                <div class="df ai-c">
                  <span *ngIf="column === 'Permission'" (click)="changePermission(row.data.id, row.data[column])">
                    <img class="m-r-8 c-p" *ngIf="row.data[column] === 'YES'" src="assets/svg-icon/permission-yes.svg" alt="">
                    <img class="m-r-8 c-p" *ngIf="row.data[column] === 'NO'" src="assets/svg-icon/permission-no.svg" alt="">
                  </span>
                  <div *ngIf="column !== 'Invite'" class="ellipsis c-p">
                    <span>{{row.data[column]}}</span>
                  </div>
                </div>
                <span *ngIf="column === 'Check'">
                  <div *ngIf="checkAll" class="check-row m-auto">
                    <img src="assets/img/success-white.png" alt="">
                  </div>
                  <!-- <div *ngIf="!checkAll" style="background-color: transparent !important; border: none !important" class="check-row m-auto">
                    {{ i + 1 }}
                  </div> -->
                </span>
                <div *ngIf="column === 'Invite'">
                  <div *ngIf="row.data[column] === 0" (click)="invite(row.data['Email Address'])" class="chip-invite">
                    <img src="assets/img/mail-icon.png" alt="">
                    Invite
                  </div>
                  <div *ngIf="row.data[column] === -1" class="chip-invite active">
                    <img width="14px" src="assets/img/success-white.png" alt="">
                    Active
                  </div>
                  <div *ngIf="row.data[column] > 0" (click)="invite(row.data['Email Address'])" class="chip-invite pending">
                    <!--    Pending -->
                    Resend
                  </div>
                </div>
                <div *ngIf="column === 'Action'" class="pos-r text-right">
                  <img (click)="showActions = row.data" class="c-p" src="assets/svg-icon/shared.svg" alt="">
                  <div *ngIf="showActions === row.data" class="action-drb">
                    <!-- <div (click)="edit(row.data.id)" class="item">
                      <img src="assets/svg-icon/edit.svg" alt="">
                      Edit
                    </div> -->
                    <div (click)="openDeleteBox(row.data.id)" class="item">
                      <img src="assets/svg-icon/delete.svg" alt="">
                      Delete
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>
          </table>

          <div *ngIf="!data.length && !showLoader" class="create-btn-wrap p-0">
            <img class="m-b-16 m-t-40" src="assets/svg-icon/noUser.svg" alt="">
            <div class="m-b-25 fs-22">
              No Users Added yet
            </div>
            <button [routerLink]="[ '/main/business/create-business' ]" class="cust-button m-b-20" nbButton status="success">
              + Add User
            </button>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Email Template">

        <div class="email-wrap">
          <div class="input-wrap">
            <div class="input-row">
              <div class="lable">
                Subject
              </div>
              <div class="value">
                <input class="fs-15 fw-500" type="text" nbInput fullWidth fieldSize="medium" placeholder="">
              </div>
            </div>
            <div class="input-row">
              <div class="lable">
                Message
              </div>
              <div class="value">
                <div class="mess-box">
                  <div class="m-b-21">
                    <div class="pos-r smart-textarea">
                      <div class="text">
                        {{topArea}}
                      </div>
                      <textarea [(ngModel)]="topArea" class="clear"></textarea>
                    </div>
                  </div>
                  <div (click)="secret.focus()" class="code-wrap m-b-30">
                    <span *ngFor="let item of secretNumbersArr">X</span>
                    <span *ngIf="showBlink" class="blink"></span>
                    <input style="opacity: 0; width: 0;" maxlength="7" (focus)="showBlink = true" (blur)="showBlink = false"
                      #secret class="secret-input" type="text" [(ngModel)]="secretNumber" (ngModelChange)="secretNumberChanged()">
                  </div>
                  <div>
                    <div class="pos-r smart-textarea">
                      <div class="text">
                        {{botArea}}
                      </div>
                      <textarea [(ngModel)]="botArea" class="clear"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner">
            <img src="assets/img/ipohe-baner.png" alt="">
          </div>
        </div>
      </nb-tab>
      <nb-tab *ngIf="!userAdmin" tabTitle="iBeacon">
        <div class="container">
          <div class="row" style="overflow: hidden;">
            <div class="col-8">
              <div class="m-b-60 m-t-45 fs-18 fw-500">
                Are you using the WalletScan iBeacon ?
                <input *ngIf="ibeacon == 'yes'" (click)="ibeaconToggle('yes')" style="margin-left: 30px;"
                  type="radio" value='yes' name="ibeaconToggle" checked>
                <input *ngIf="ibeacon == 'no'" (click)="ibeaconToggle('yes')" style="margin-left: 30px;"
                  type="radio" value='yes' name="ibeaconToggle"> Yes
                <input *ngIf="ibeacon == 'yes'" (click)="ibeaconToggle('no')" style="margin-left: 30px;"
                  type="radio" value='no' name="ibeaconToggle">
                <input *ngIf="ibeacon == 'no'" (click)="ibeaconToggle('no')" style="margin-left: 30px;"
                  type="radio" value='no' name="ibeaconToggle" checked> No
              </div>
              <form [formGroup]="myFormiBeacon">
                <div class="input-wrapper">
                  <div class="row-input" *ngIf="ibeacon === 'no'">
                      <div class="lable">
                        iBeacon UUID
                      </div>
                      <div class="value">
                        <div class="pos-r full-width">
                          <input [ngClass]="{'error': myFormiBeacon.controls['ibeacon_uuid'].invalid && !customValidationiBeacon}"
                            formControlName="ibeacon_uuid" type="text" nbInput fullWidth fieldSize="medium"
                            placeholder="" id="ibeaconUUID" (input)="ibeaconUUIDInput($event)">
                          <div *ngIf="myFormiBeacon.controls['ibeacon_uuid'].invalid && !customValidationiBeacon"
                            class="error-lable">
                            Field error (must have iBeacon UUID in the format '258ce5a2-eca1-273f-a9b1-778e5a42ab8a')
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="ibeacon === 'no'">
                      <div class="col-7">
                        <div class="row-input">
                          <div class="lable">
                            iBeacon Major
                          </div>
                          <div class="value">
                            <div class="pos-r full-width">
                              <input [ngClass]="{'error': myFormiBeacon.controls['ibeacon_major'].invalid && !customValidationiBeacon}"
                                formControlName="ibeacon_major" type="number" nbInput fullWidth fieldSize="medium"
                                placeholder="" style="padding-left: 8px !important; padding-right: 8px !important;">
                              <div *ngIf="myFormiBeacon.controls['ibeacon_major'].invalid && !customValidationiBeacon"
                                class="error-lable">
                                Field error (must have iBeacon Major (range 0-65535))
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-5 p-l-5">
                        <div class="row-input">
                          <div class="lable" style="min-width: 45px;">
                            Minor
                          </div>
                          <div class="value">
                            <div class="pos-r full-width">
                              <input [ngClass]="{'error': myFormiBeacon.controls['ibeacon_minor'].invalid && !customValidationiBeacon}"
                                formControlName="ibeacon_minor" type="number" nbInput fullWidth fieldSize="medium"
                                placeholder="" style="padding-left: 8px !important; padding-right: 8px !important;">
                              <div *ngIf="myFormiBeacon.controls['ibeacon_minor'].invalid && !customValidationiBeacon"
                                class="error-lable">
                                Field error (must have iBeacon Minor (range 0-65535))
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row-input">
                      <div class="lable">
                        Broadcast Message
                      </div>
                      <div class="value">
                        <div class="pos-r full-width">
                          <textarea [ngClass]="{'error': myFormiBeacon.controls['ibeacon_notificationtext'].invalid && !customValidationiBeacon}"
                            formControlName="ibeacon_notificationtext" nbInput fullWidth placeholder=""></textarea>
                          <div *ngIf="myFormiBeacon.controls['ibeacon_notificationtext'].invalid && !customValidationiBeacon"
                            class="error-lable">
                            Field error (must have iBeacon Broadcast Message)
                          </div>
                        </div>
                        <div class="tab-cust">
                            <div class="tab-body p-t-20">
                              <button (click)="updateiBeacon()" class="cust-button btn-210" nbButton status="success">
                                <i *ngIf="inProcces" class="fas fa-spinner fa-pulse"></i>
                                Update
                              </button>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </form>
            </div>
            <div class="col-4 p-t-35">
              <img src="assets/img/mobileibeaconLarge.png" alt="" />
            </div>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
<div *ngIf="showActions" (click)="showActions = null" class="close-bg"></div>
